@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 15px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .pageHeadTitlePanel {
    padding: 40px 20px 20px;
  }
  .pageHeadTitlePanel .pageHeadTitle p {
    margin: 0 0 5px;
    font-size: 26px;
  }
  .pageHeadTitlePanel .pageHeadTitle .pageSecTtl {
    font-size: 15px;
  }

  .pageSecTtlBox {
    margin: 0 0 40px;
  }
  .pageSecTtlBox p {
    margin: 0 0 5px;
    font-size: 26px;
  }
  .pageSecTtlBox .pageSecTtl {
    font-size: 15px;
  }

  .mapBox {
    padding: 0 0 70%;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer .footContact {
    padding: 0 20px 100px;
  }
  .footer .footContact .contactPanel {
    padding: 40px 20px;
  }
  .footer .footContact .contactPanel .secBox .dl .dd a .span {
    font-size: 18px;
  }
  .footer .footContact .contactPanel .secBox .dl .dd a .em {
    font-size: 30px;
  }
  .footer .footContact .contactPanel .secBox .txtBox {
    padding: 20px;
  }
  .footer .footContact .contactPanel .secBox .txtBox .btnMore {
    margin: 15px auto 0;
  }
  .footer .footContact .pagetop {
    right: 0;
    bottom: -60px;
    width: 40px;
  }
  .footer .footPanel {
    padding: 40px 20px 15px;
  }
  .footer .footPanel .footBox {
    display: block;
    text-align: center;
  }
  .footer .footPanel .footBox .logo {
    width: 200px;
    margin: 0 auto 30px;
  }
  .footer .footPanel .footBox .txt {
    font-size: 14px;
  }
  .footer .footPanel .copy {
    margin: 50px 0 0;
    font-size: 14px;
    text-align: center;
  }
}