@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top {
  .topKvPanel {
    height: 450px;
    .kvTitleBox {
      h1 {
        font-size: 28px;
        span {
          line-height: 1.4;
        }
        em {
          padding: 0 20px;
        }
        + p {
          padding: 5px 0 0 20px;
          font-size: 16px;
        }
      }
    }
  }
  .kvMessagePanel {
    padding: 0 10px 80px;
    .kvMessageBox {
      padding: 0 5px 5px;
      &::before {
        top: -20px;
        left: -30px;
        width: 170px;
        height: 55px;
      }
      &::after {
        top: -30px;
        right: -70px;
        width: 170px;
        height: 60px;
      }
      .inner {
        padding: 30px 5px 20px;
        .kvMessage {
          font-size: 20px;
          em {
            font-size: 30px;
          }
        }
        > p {
          font-size: 18px;
        }
      }
    }
  }
  .sec01 {
    padding: 40px 0 60px;
    h2 {
      margin: 0 0 40px;
      padding: 40px 0 0;
      font-size: 20px;
      background: url("../image/top/top_sec01_title_bg.png") center top
        no-repeat;
      background-size: 60px auto;
    }
    .listBox {
      max-width: 400px;
      margin: 0 auto;
      ul {
        li + li {
          margin: 30px 0 0;
        }
        .ttl {
          padding: 40px 10px 10px;
          font-size: 18px;
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .listBox {
      max-width: 400px;
      margin: 0 auto 50px;
      ul {
        li {
          padding: 10px;
          + li {
            margin: 40px 0 0;
          }
        }
        dl {
          padding: 0;
          dt {
            + dd {
              margin: 0 0 20px;
            }
          }
        }
      }
    }
    .btnList {
      max-width: 320px;
      margin: 0 auto;
      ul {
        li + li {
          margin: 20px 0 0;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .listBox {
      max-width: 400px;
      margin: 0 auto 50px;
      ul {
        li + li {
          margin: 40px 0 0;
        }
        dl {
          dt {
            width: 98%;
            margin: 0 auto 10px;
            font-size: 18px;
          }
        }
      }
    }
    .btnReason {
      max-width: 280px;
      a {
        font-size: 16px;
      }
    }
  }
  .sec04 {
    padding: 60px 0;
    .newsListBox {
      ul {
        li {
          display: block;
          padding: 0 0 15px;
          + li {
            margin: 30px 0 0;
          }
        }
        .info {
          width: 100%;
          margin: 0 0 5px;
        }
        .time {
          margin: 0 20px 0 0;
        }
      }
    }
  }
  .linkPanel {
    padding: 60px 0;
    ul {
      max-width: 500px;
      margin: 0 auto;
      li + li {
        margin: 30px 0 0;
      }
      a {
        min-height: 200px;
      }
      .ttl {
        max-width: 280px;
        padding: 10px;
        font-size: 16px;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	reason
///////////////////////////////////////////////////////////*/
#reason {
  .sec01 {
    padding: 40px 0 60px;
    h2 {
      margin: 0 0 40px;
      padding: 40px 0 0;
      font-size: 20px;
      background: url("../image/top/top_sec01_title_bg.png") center top
        no-repeat;
      background-size: 60px auto;
    }
    .listBox {
      max-width: 200px;
      margin: 0 auto 40px;
      ul {
        li + li {
          margin: 30px 0 0;
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .secBox {
      + .secBox {
        margin: 60px 0 0;
      }
      .txtBox {
        margin: 30px 0 0;
        .ttlBox {
          margin: 0 0 20px;
          padding: 5px 10px;
          .num {
            margin: 0 10px 0 0;
            font-size: 24px;
          }
          .ttl {
            font-size: 20px;
          }
        }
        .btnSearch {
          max-width: 280px;
          margin: 20px 0 0;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	price
///////////////////////////////////////////////////////////*/
#price {
  .sec01 {
    padding: 40px 0 60px;
    .subTitle {
      margin: 0 0 30px;
      h3 {
        font-size: 18px;
      }
    }
    .priceBox01 {
      margin: 0 0 30px;
      dl {
        border: 1px solid #32a44a;
        dt {
          em {
            font-size: 20px;
          }
          span {
            font-size: 14px;
          }
        }
        dd {
          em {
            font-size: 20px;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    .priceBox02 {
      dl {
        > * {
          width: 50%;
          padding: 15px 10px;
        }
        dt {
          font-size: 18px;
        }
        dd {
          em {
            font-size: 18px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .introPanel {
      + .introPanel {
        margin: 60px 0 0;
      }
      .secBox {
        .photoList {
          margin: 0 0 20px;
        }
        .txtBox {
          h3 {
            margin: 0 0 20px;
            padding: 5px 10px;
            font-size: 20px;
          }
        }
      }

      .infoList {
        margin: 30px 0 0;
        dl {
          font-size: 18px;
          border: 1px solid #32a44a;
        }
      }
      .btnReserve {
        max-width: 280px;
        margin: 40px auto 0;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
#flow {
  .sec01 {
    padding: 40px 0 80px;
    .stepPanel {
      + .stepPanel {
        margin: 60px 0 0;
      }
      .stepTitleBox {
        margin: 0 0 20px;
        padding: 10px;
        .step {
          margin: 0 10px 0 0;
          line-height: 20px;
          span {
            font-size: 20px;
          }
          em {
            font-size: 25px;
          }
        }
        .title {
          font-size: 20px;
        }
      }
      .topTxt {
        margin: 0 0 20px;
        + dl {
          margin: 20px 0 0;
        }
      }
      .itemList {
        ul {
          li + li {
            margin: 30px 0 0;
          }
          .tel {
            a {
              font-size: 16px;
              em {
                font-size: 26px;
              }
            }
          }
          .reserve {
            a {
              max-width: 280px;
              font-size: 16px;
            }
          }
          .line {
            a {
              max-width: 60px;
              margin: 0 auto 10px;
            }
          }
        }
      }
      aside {
        padding: 20px 0;
      }
      .caution {
        margin: 30px 0 0;
        padding: 20px 10px;
        dl {
          dt {
            font-size: 18px;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 40px 0 80px;
    .categorySelect {
      dl {
        dt {
          font-size: 18px;
        }
        dd {
          .pagingList {
            ul {
              margin: -10px 0 0 -10px;
              li {
                width: calc((100% / 2) - 10px);
                margin: 10px 0 0 10px;
                a {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .cateSection {
      padding: 60px 0 0;
      .sectionTitle {
        margin: 0 auto 30px;
        font-size: 16px;
      }
      .faqPanel {
        dl {
          dt {
            em {
              width: 40px;
              margin: 0 10px 0 0;
              font-size: 26px;
              line-height: 40px;
            }
          }
          dd {
            .box {
              em {
                width: 40px;
                margin: 0 10px 0 0;
                font-size: 26px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	privacy
///////////////////////////////////////////////////////////*/
#privacy {
  .sectionContainer {
    padding: 40px 0 80px;
    .topTxt {
      margin: 0 0 40px;
    }
    .section {
      + .section {
        margin: 40px 0 0;
      }
      h2 {
        margin: 0 0 20px;
        padding: 10px 20px;
        font-size: 20px;
      }
      .txt {
        + .txt {
          margin: 20px 0 0;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
#company {
  .sectionContainer {
    padding: 40px 0 80px;
    .section {
      h2 {
        margin: 0 0 20px;
        padding: 10px 20px;
        font-size: 20px;
      }
      .infoBox {
        margin: 0 0 40px;
        dl {
          display: flex;
          dt {
            width: 100px;
            padding: 10px;
            font-size: 16px;
          }
          dd {
            width: calc(100% - 100px);
            padding: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
#contact {
  .sectionContainer {
    padding: 40px 0 80px;
    .topTxt {
      margin: 0 0 40px;
    }
    .section {
      + .section {
        margin: 40px 0 0;
      }
      h2 {
        margin: 0 0 20px;
        padding: 10px 20px;
        font-size: 20px;
      }
      .telBox {
        max-width: 400px;
        padding: 20px 10px;
        a {
          font-size: 18px;
          em {
            font-size: 28px;
          }
        }
        > p {
          font-size: 14px;
        }
      }
      .lineBox {
        max-width: 380px;
        a {
          display: block;
          padding: 20px;
        }
        .qr {
          width: 100px;
          margin: 0 auto 20px;
        }
        dl {
          width: 100%;
          text-align: center;
          dt {
            font-size: 18px;
          }
          dd {
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
#blog {
  .sectionContainer {
    padding: 40px 0 80px;
  }
  .categoryList {
    margin: 0 auto 50px;
    dl {
      dt {
        padding: 10px;
        font-size: 18px;
      }
      dd {
        padding: 20px 10px;
      }
      ul {
        max-width: 300px;
        margin: 0 auto;
        li {
          + li {
            margin: 15px 0 0;
          }
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
  .list {
    &__blog {
      margin: 0 0 60px;
      &__section {
        + * {
          margin: 50px 0 0;
        }
      }
    }
    &__pagination {
      .pagination {
        li {
          margin: 0 5px;
          a {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
  .detail {
    &__blog {
      .titleHeader {
        .title {
          font-size: 18px;
        }
      }
      .thumbnailBox {
        max-width: 1000px;
        margin: 0 0 30px;
        img {
          border-radius: 10px;
        }
      }
      .postContents {
        font-size: 14px;
      }
    }
  }
  .btnBack {
    max-width: 280px;
    margin: 80px auto 0;
  }
}
