@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5;
  color: #111111;
  font-size: 18px;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2.5;
}

/*リンク */
a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    z-index: 999;
    background: #ffffff;
  }
  .header .headBox {
    display: flex;
    justify-content: space-between;
  }
  .header .logo {
    width: 170px;
    cursor: pointer;
  }
  .header .logo a {
    display: block;
  }
  .header .hamburger {
    display: none;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox .navList > p {
    display: none;
  }
  .navBox .navList ul li {
    display: inline-block;
  }
  .navBox .navList ul li + li {
    margin: 0 0 0 30px;
  }
  .navBox .navList ul li a,
.navBox .navList ul li p {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  .navBox .navList ul li em {
    display: block;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
  }
  .navBox .navList ul li span {
    display: block;
    font-size: 12px;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
main {
  overflow: hidden;
  margin: 113px 0 0;
}

.secWrap {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.secWrap01 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.secWrap02 {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  color: #ffffff;
  background: #000000;
}
.footer .copy {
  padding: 10px 0;
  font-size: 12px;
  text-align: right;
}