@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  line-height: 1.5;
  color: #3f3f3f;
  font-size: 16px;
  letter-spacing: 0.05em;
  background: #ffffff;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2.5;
}

/*リンク */
a {
  color: #3f3f3f;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

.mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 0 0 15%;
    z-index: 999;
    background: #ffffff;
  }
  .header .hamburger {
    display: none;
  }

  .header .logo {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 200px;
  }
  .header .logo a {
    display: block;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox {
    padding: 0 80px 0 0;
    font-weight: bold;
  }
  .navBox .navList > .ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navBox .navList > .ul > .li {
    position: relative;
    height: 100px;
    padding: 48px 0 30px;
  }
  .navBox .navList > .ul > .li + .li {
    margin: 0 0 0 3%;
  }
  .navBox .navList > .ul > .li .linkTxt {
    position: relative;
  }
  .navBox .navList > .ul > .li .linkTxt > p {
    padding: 0 10px 10px;
  }
  .navBox .navList > .ul > .li > a {
    display: inline-block;
  }
  .navBox .navList > .ul > .li > a > div > p {
    padding: 0 10px 10px;
  }
  .navBox .navList > .ul > .li.spBreak {
    display: none;
  }
  .navBox .navList > .ul .pulldown {
    overflow: hidden;
  }
  .navBox .navList > .ul .pulldown:hover {
    overflow: visible;
  }
  .navBox .navList > .ul .pulldown:hover .subList {
    top: 100px;
    height: auto;
    opacity: 1;
    z-index: 9999;
  }
  .navBox .navList .subList {
    position: absolute;
    top: 70px;
    left: -50px;
    width: 200px;
    height: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.6s;
  }
  .navBox .navList .subList .li + .li {
    margin: 1px 0 0;
  }
  .navBox .navList .subList .li a {
    display: block;
    padding: 15px 5px;
    font-size: 14px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
  }
  .navBox .navList .subList .li a p {
    position: relative;
    display: inline-block;
  }
  .navBox .navList .subList .li a:hover {
    opacity: 1;
    color: #ffffff !important;
    background: #85d6d9;
  }
  .navBox .navList > .ul > .contact {
    padding: 40px 0 0;
  }
  .navBox .navList > .ul > .contact a {
    width: 220px;
    padding: 8px 10px;
    color: #ffffff;
    text-align: center;
    border-radius: 25px;
    background: #85d6d9;
  }
  .navBox .navList > .ul > .contact a p {
    padding: 0 !important;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 100px 0 0;
}

.pageKvContainer {
  position: relative;
  padding: 0 0 0 5%;
}
.pageKvContainer .topKvPanel {
  position: relative;
  padding: 0 0 0 10%;
}
.pageKvContainer .topKvPanel .topKvTitle {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 1;
}
.pageKvContainer .topKvPanel .topKvTitle h1,
.pageKvContainer .topKvPanel .topKvTitle p {
  display: inline-block;
  letter-spacing: 0.15em;
  background: linear-gradient(140deg, #86c795, #91b0b7 30%, #97a1be);
  background: -webkit-linear-gradient(0deg, #86c795, #91b0b7 30%, #97a1be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pageKvContainer .topKvPanel .topKvTitle p {
  font-size: 60px;
  line-height: 1.2;
}
.pageKvContainer .topKvPanel .topKv {
  position: relative;
  height: 400px;
}
.pageKvContainer .topKvPanel .topKv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageSecTtl {
  letter-spacing: 0.15em;
}
.pageSecTtl .ttl h2 {
  display: inline-block;
}
.pageSecTtl .sub p {
  display: inline-block;
  font-size: 40px;
}
.pageSecTtl.grad h2,
.pageSecTtl.grad p {
  letter-spacing: 0.15em;
  background: linear-gradient(0, #97a1be, #91b0b7 30%, #86c795);
  background: -webkit-linear-gradient(0deg, #97a1be, #91b0b7 30%, #86c795);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pageSecTtl.white {
  color: #ffffff;
}
.pageSecTtl.center {
  text-align: center;
}

.pageMainContainer {
  padding: 150px 0 300px;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/main_bg.png) center top no-repeat;
  background-size: cover;
}

.secWrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.secWrap01 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.secWrap02 {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnMore {
  width: 200px;
}
.btnMore a {
  display: block;
  padding: 0 15px 13px 0;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/btn_more_circle.png) right bottom no-repeat;
  background-size: 30px auto;
}
.btnMore a p {
  padding: 0 0 5px 40px;
  line-height: 1;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 5px bottom no-repeat;
  background-size: 160px auto;
  transition: 0.6s;
}
@media (min-width: 1025px) {
  .btnMore a:hover p {
    background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right bottom no-repeat;
    background-size: 160px auto;
  }
}

.btnMoreWhite {
  width: 200px;
}
.btnMoreWhite a {
  display: block;
  padding: 0 15px 13px 0;
  color: #ffffff;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/btn_more_circle_white.png) right bottom no-repeat;
  background-size: 30px auto;
}
.btnMoreWhite a p {
  padding: 0 0 5px 40px;
  line-height: 1;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/btn_more_arrow_white.png) right 5px bottom no-repeat;
  background-size: 160px auto;
  transition: 0.6s;
}
@media (min-width: 1025px) {
  .btnMoreWhite a:hover p {
    background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/btn_more_arrow_white.png) right bottom no-repeat;
    background-size: 160px auto;
  }
}

.btnTarget {
  width: 260px;
}
.btnTarget a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  background: #3acfd5;
}
.btnTarget a p {
  display: inline-block;
  padding: 0 0 0 30px;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/icon_target_white.png) left center no-repeat;
  background-size: 15px auto;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer .footContact {
  padding: 100px 0;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/footer_contact_bg.png) no-repeat;
  background-size: cover;
}
.footer .footContact .pageSecTtl {
  margin: 0 0 50px;
}
.footer .footContact a {
  display: block;
  color: #ffffff;
  text-align: center;
}
.footer .footContact .contactItem .tel {
  margin: 0 0 10px;
}
.footer .footContact .contactItem .tel a {
  padding: 15px 10px;
  background: #a1dfe2;
}
.footer .footContact .contactItem .tel a p {
  display: inline-block;
  vertical-align: middle;
}
.footer .footContact .contactItem .tel a .em {
  padding: 0 0 0 30px;
  font-size: 30px;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/footer_contact_tel.png) left center no-repeat;
  background-size: 20px auto;
}
.footer .footContact .contactItem .tel a .span {
  margin: 0 0 0 20px;
  text-align: left;
}
.footer .footContact .contactItem .mail a {
  padding: 15px 10px;
  font-size: 20px;
  background: #3acfd5;
}
.footer .footContact .contactItem .mail a p {
  display: inline-block;
  padding: 0 0 0 30px;
  background: url(https://s-arc231031.smooooth.jp/system_panel/uploads/images/footer_contact_mail.png) left center no-repeat;
  background-size: 18px auto;
}
.footer .footContact .contactItem .reserve a {
  font-size: 24px;
}
.footer .footContact .contactItem .reserve a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 145px;
  background: #85d6d9;
}
@media (min-width: 1025px) {
  .footer .footContact .contactItem {
    display: flex;
    justify-content: space-between;
  }
  .footer .footContact .contactItem .itemBox {
    width: 49%;
  }
}
.footer .footPanel .secWrap01 {
  position: relative;
  padding: 120px 10px 20px;
}
.footer .footPanel .pagetop {
  position: absolute;
  top: -25px;
  right: 0;
  width: 50px;
  cursor: pointer;
}
.footer .footPanel .footBox {
  display: flex;
  margin: 0 0 120px;
}
.footer .footPanel .footBox .logo {
  width: 350px;
  margin: 0 40px 0 0;
}
.footer .footPanel .footBox .txtBox .ttl {
  line-height: 2.5;
}
.footer .footPanel .footBox .txtBox .ttl p {
  display: inline-block;
}
.footer .footPanel .footBox .txtBox .ttl .insta {
  display: inline-block;
}
.footer .footPanel .footBox .txtBox .ttl a {
  display: block;
  width: 25px;
}
.footer .footPanel .footBox .txtBox .txt a {
  display: inline-block;
}
.footer .footPanel .copy {
  text-align: right;
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/
body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}