@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #0e0e0e;
  font-size: 16px;
  background: #ffffff;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: bold;
  line-height: 2;
}

/*リンク */
a {
  color: #0e0e0e;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.gothic {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: bold;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 10px 0 10px 40px;
    z-index: 999;
    background: #ffffff;
  }
  .header .headBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header .headerTitle {
    margin: 0 0 3px;
    font-size: 14px;
    color: #6a6a6a;
  }
  .header .logo {
    width: 15%;
    max-width: 280px;
  }
  .header .logo a {
    display: block;
  }
  .header .hamburger {
    display: none;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox {
    padding: 0 0 0 15px;
  }
  .navBox .navList {
    padding: 0 200px 0 0;
  }
  .navBox .navList .ul .li {
    display: inline-block;
    margin: 0 30px 0 0;
  }
  .navBox .navList .ul .li a {
    display: inline-block;
  }
  .navBox .navList .ul .spBreak {
    display: none;
  }
  .navBox .navItem {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    text-align: center;
  }
  .navBox .navItem a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: #eb0002;
  }
  .navBox .navItem .span {
    display: inline-block;
    margin: 0 0 3px;
    padding: 0 0 0 22px;
    color: #ffffff;
    background: url(https://ishida-kensetsu.net/system_panel/uploads/images/header_mail.png) left center no-repeat;
    background-size: 18px auto;
  }
  .navBox .navItem .em {
    font-size: 12px;
  }
  .navBox .navItem .em p {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 13px;
    background: #efcf3e;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 90px 0 0;
}

.pageTitlePanel {
  padding: 80px 10px;
  text-align: center;
}
.pageTitlePanel .pageTitle h2 {
  font-size: 60px;
}
.pageTitlePanel .pageTitle p {
  font-size: 18px;
  color: #f58334;
}

.topMessagePanel {
  position: relative;
  text-align: center;
  z-index: 1;
}
.topMessagePanel .ttlTxt {
  margin: 0 0 10px;
  font-size: 24px;
}
.topMessagePanel .message {
  font-size: 0;
}
.topMessagePanel .message > p,
.topMessagePanel .message > div {
  display: inline-block;
  font-size: 55px;
}
.topMessagePanel .message .em {
  position: relative;
  padding: 0 5px;
  color: #f58334;
}
.topMessagePanel .message + p {
  margin: 10px 0 0;
}
.topMessagePanel .bgLine {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 12px;
  margin: 0 auto;
  z-index: -1;
  background: #efcf3e;
  transform: skewX(-45deg);
}

.mainContainer {
  position: relative;
  padding: 150px 0 100px;
}
.mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f0f0f1;
}
.mainContainer::after {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: calc(100% + 200px);
  z-index: -1;
  background: url(https://ishida-kensetsu.net/system_panel/uploads/images/page_main_container_bg.png) center top no-repeat;
  background-size: 100% auto;
}

.pageSecTitleBox {
  position: relative;
  margin: 0 0 50px;
  padding: 0 0 20px;
  text-align: center;
}
.pageSecTitleBox::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 180px;
  height: 2px;
  margin: 0 auto;
  background: #0e0e0e;
}
.pageSecTitleBox .pageSecTitle {
  display: inline-block;
  font-size: 50px;
}
.pageSecTitleBox .pageSecTitle p {
  display: inline;
}
.pageSecTitleBox .pageSecTitle .span {
  font-size: 30px;
}

.secWrap {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.secWrap01 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.secWrap02 {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.videoBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 55%;
}
.videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnMore {
  width: 260px;
}
.btnMore a {
  display: block;
  padding: 15px 10px;
  color: #ffffff;
  text-align: center;
  background: url(https://ishida-kensetsu.net/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat #eb0002;
  background-size: 6px auto;
}

.caseSliderPanel {
  position: relative;
}
.caseSliderPanel .counterBox {
  position: absolute;
  top: -12px;
  left: 62%;
  padding: 7px 20px;
  z-index: 1;
  background: #ffffff;
}
.caseSliderPanel .counterBox .slick-counter {
  font-size: 0;
  text-align: center;
  line-height: 1;
}
.caseSliderPanel .counterBox .slick-counter p {
  display: inline;
  font-size: 24px;
  color: #f79d42;
}
.caseSliderPanel .caseSlider .slick-list {
  overflow: visible;
}
.caseSliderPanel .caseSlider .slick-slide {
  position: relative;
  margin: 0 10px;
  border: 6px solid transparent;
  transition: all 0.2s linear;
}
.caseSliderPanel .caseSlider .slick-slide img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
.caseSliderPanel .caseSlider .slick-slide .dl {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;
  width: 70%;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  background: #ffffff;
  transition: 0.6s;
}
.caseSliderPanel .caseSlider .slick-slide .dl .dt {
  margin: 0 0 10px;
  font-size: 20px;
}
.caseSliderPanel .caseSlider .slick-current {
  border: 6px solid #f79d42;
}
.caseSliderPanel .caseSlider .slick-current img {
  border: 30px solid #ffffff;
}
.caseSliderPanel .caseSlider .slick-current .dl {
  opacity: 1;
}
.caseSliderPanel .caseSlider .is-active-next {
  border: 6px solid #f79d42;
  transition: all 0.2s linear;
}
.caseSliderPanel .caseSlider .is-active-next img {
  border: 30px solid #ffffff;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer .footContact {
  padding: 50px 0;
  background: #eb0002;
}
.footer .footContact .contactPanel {
  padding: 30px 20px 10px;
  background: #ffffff;
}
.footer .footContact .contactPanel .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.footer .footContact .contactPanel .txtList {
  text-align: center;
}
.footer .footContact .contactPanel .txtList .ul .li {
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  background: #0e0e0e;
}
.footer .footContact .contactPanel .txtList .ul .li + .li {
  margin: 0 0 0 10px;
}
.footer .footContact .contactPanel .contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.footer .footContact .contactPanel .telBox .dl {
  padding: 20px;
}
.footer .footContact .contactPanel .telBox .dl .dt {
  font-size: 24px;
}
.footer .footContact .contactPanel .telBox .dl .dd a {
  display: inline-block;
  padding: 0 0 0 45px;
  font-size: 40px;
  background: url(https://ishida-kensetsu.net/system_panel/uploads/images/footer_contact_tel.png) left center no-repeat;
  background-size: 40px auto;
}
.footer .footContact .contactPanel .telBox .dl .dd > p {
  font-size: 14px;
}
.footer .footContact .contactPanel .mailBox a {
  display: block;
  padding: 30px;
  font-size: 30px;
  color: #ffffff;
  background: url(https://ishida-kensetsu.net/system_panel/uploads/images/footer_contact_mail_bg.png) center no-repeat;
  background-size: 100% auto;
}
.footer .footContact .contactPanel .mailBox a p {
  display: inline-block;
  padding: 0 0 0 35px;
  background: url(https://ishida-kensetsu.net/system_panel/uploads/images/footer_contact_mail.png) left center no-repeat;
  background-size: 30px auto;
}
.footer .footPanel {
  padding: 80px 0 40px;
  background: #d40002;
}
.footer .footPanel .footBox {
  display: flex;
  justify-content: space-between;
}
.footer .footPanel .footBox .leftBox .logo {
  max-width: 400px;
  margin: 0 0 20px;
}
.footer .footPanel .footBox .leftBox > p {
  color: #ffffff;
}
.footer .footPanel .footBox .rightBox .btnRecruit {
  width: 300px;
}
.footer .footPanel .footBox .rightBox .btnRecruit a {
  display: block;
  padding: 15px;
  font-size: 22px;
  text-align: center;
  background: url(https://ishida-kensetsu.net/system_panel/uploads/images/footer_recruit_bg.png) center no-repeat;
  background-size: cover;
}
.footer .footPanel .footNav {
  margin: 60px 0 0;
}
.footer .footPanel .footNav .ul + .ul {
  margin: 10px 0 0;
}
.footer .footPanel .footNav .ul .li {
  display: inline-block;
  margin: 0 30px 0 0;
}
.footer .footPanel .footNav .ul .li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: underline;
}
.footer .footPanel .copy {
  padding: 20px 0 0;
  color: #ffffff;
  text-align: right;
}

/*   モーダルウインドウ
-------------------------------------------------- */
.modalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modalContent {
  width: 100%;
  max-width: 780px;
  min-width: 250px;
}
.modalContent > div {
  overflow: auto;
  height: 100%;
}
.modalContent .mdlBody {
  padding: 25px;
  background: #ffffff;
}
.modalContent .mdlBody .dl .dt {
  margin: 0 0 20px;
  padding: 20px 10px;
  font-size: 22px;
  border-top: 1px solid #d7d2cb;
  border-bottom: 1px solid #d7d2cb;
}
.modalContent .mdlBody .dl .dd p + p {
  margin: 20px 0 0;
}
.modalContent .mdlClose {
  padding: 15px 0 0;
  text-align: right;
}
.modalContent .mdlClose .mdlCloseBtn {
  display: inline-block;
  width: 25px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .modalContent .mdlBody {
    display: flex;
    justify-content: space-between;
    min-height: 360px;
  }
  .modalContent .mdlBody .img {
    width: 40%;
  }
  .modalContent .mdlBody .dl {
    width: 55%;
  }
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/
body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}