@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#topMain {
  @media (min-width: 1025px) {
    .mvPanel {
      overflow: hidden;
      position: relative;
      width: 100vw;
      height: calc(100vh - 80px);
      .mvMovie {
        overflow: hidden;
        position: absolute;
        width: 125vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        &--sp {
          display: none;
        }
        video {
          width: 100%;
        }
      }
      h1 {
        font-size: 0;
      }
    }
  }
  .mvScroll {
    position: relative;
    top: -40px;
    width: 60px;
    height: 85px;
    margin: 0 auto;
    z-index: 2;
  }
  .topTxtPanel {
    padding: 80px 20px 120px;
    text-align: center;
  }
  .sec01 {
    margin: 0 0 240px;
    .secTitle {
      max-width: 900px;
      margin: 0 auto 20px;
      h2 {
        max-width: 420px;
      }
      + p {
        margin: 0 0 40px;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
    .secPanel {
      position: relative;
      .txtBox {
        position: relative;
        padding: 60px 0;
        z-index: 1;
        .txt {
          p + p {
            margin: 30px 0 0;
          }
        }
      }
      @media (min-width: 1025px) {
        .txtBox {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          min-height: 500px;
          .txt {
            position: relative;
            width: 50%;
            &:after {
              content: "";
              position: absolute;
              right: 80px;
              bottom: -300px;
              width: 240px;
              height: 360px;
              background: url("../image/top/top_sec_slash_bg.png") no-repeat;
              background-size: 100% auto;
            }
          }
        }
        .photo {
          position: absolute;
          top: -60px;
          left: 0;
          width: 800px;
        }
      }
    }
  }
  .sec02 {
    position: relative;
    min-height: 570px;
    margin: 0 0 200px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -150px;
      width: 2px;
      height: 60px;
      margin: 0 auto;
      background: #000000;
    }
    .secTitle {
      position: relative;
      margin: 0 0 60px;
      padding: 0 0 30px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 120px;
        height: 2px;
        background: #000000;
      }
      h2 {
        max-width: 540px;
      }
    }
    .txtBox {
      position: relative;
      dl {
        margin: 0 0 60px;
        dt {
          margin: 0 0 20px;
          font-size: 29px;
        }
      }
      .btnLink {
        max-width: 300px;
        a {
          display: block;
        }
      }
      .comingSoon {
        pointer-events: none;
      }
    }
    @media (min-width: 1025px) {
      .photo {
        position: absolute;
        top: -60px;
        right: 0;
        width: 1000px;
        z-index: -1;
      }
    }
  }
  .linkPanel01 {
    padding: 0 20px;
    background: url("../image/top/top_link_slash_bg_01.png") left top no-repeat,
      url("../image/top/top_link_slash_bg_02.png") right 100px bottom no-repeat;
    background-size: auto 100%, auto 340px;
    .inner {
      max-width: 960px;
      margin: 0 auto;
      padding: 200px 0;
    }
    ul {
      li {
        position: relative;
        + li {
          margin: 120px 0 0;
          padding: 0 0 0 100px;
        }
        .img {
          max-width: 880px;
        }
      }
      .btnLink {
        position: absolute;
        bottom: 0;
        width: 260px;
        a {
          display: block;
        }
      }
      .btnLink01 {
        right: 120px;
      }
      .btnLink02 {
        right: 30px;
      }
      .comingSoon {
        pointer-events: none;
      }
    }
  }
  .linkPanel02 {
    padding: 140px 20px;
    background: url("../image/top/top_link_grad_bg.png") center no-repeat;
    ul {
      max-width: 960px;
      margin: 0 auto;
      li {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 210px;
        background: #ffffff;
        p {
          position: relative;
          width: 100%;
          padding: 0 0 20px;
          text-align: center;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 120px;
            height: 2px;
            margin: 0 auto;
            background: #000000;
          }
        }
      }
      .btnLink {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        width: 190px;
        margin: 0 auto;
        a {
          display: block;
        }
      }
      .comingSoon {
        pointer-events: none;
      }
    }
    @media (min-width: 1025px) {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          width: calc((100% / 3) - 15px);
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	strength
///////////////////////////////////////////////////////////*/
#strengthMain {
  .pageKvPanel {
    background: url("../image/strength/kv_bg.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      img {
        max-width: 400px;
      }
    }
  }
  .topPanel {
    padding: 150px 20px;
    .message {
      font-size: 30px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
  .secPanel {
    padding: 120px 20px 0;
    color: #ffffff;
    .secTtlBox {
      margin: 0 0 60px;
      text-align: center;
      p {
        font-size: 70px;
        font-weight: 500;
        margin: 0 0 10px;
        padding: 0 0 10px;
        background: url("../image/common/page_kv_title_line.png") center bottom
          no-repeat;
        background-size: 120px auto;
      }
      h2 {
        font-size: 40px;
        letter-spacing: 0.1em;
      }
    }
    .secBox {
      max-width: 960px;
      margin: 0 auto;
      .txtBox {
        width: 450px;
        font-size: 16px;
      }
      .numBox {
        width: 300px;
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        min-height: 290px;
      }
      &:nth-child(odd) {
        .secBox {
          flex-direction: row-reverse;
        }
      }
    }
  }
  .secPanel01 {
    background: url("../image/strength/sec_bg_01_pc.png") center no-repeat;
    background-size: cover;
  }
  .secPanel02 {
    background: url("../image/strength/sec_bg_02_pc.png") center no-repeat;
    background-size: cover;
  }
  .secPanel03 {
    background: url("../image/strength/sec_bg_03_pc.png") center no-repeat;
    background-size: cover;
  }
  .secPanel04 {
    background: url("../image/strength/sec_bg_04_pc.png") center no-repeat;
    background-size: cover;
  }
  .secPanel05 {
    background: url("../image/strength/sec_bg_05_pc.png") center no-repeat;
    background-size: cover;
  }
}

/*////////////////////////////////////////////////////////////
	business
///////////////////////////////////////////////////////////*/
#businessMain {
  .pageKvPanel {
    background: url("../image/business/kv_bg.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      img {
        max-width: 280px;
      }
    }
  }
  .introContainer {
    padding: 160px 0 0;
    .introPanel {
      position: relative;
      max-width: 1040px;
      margin: 0 auto;
      padding: 0 20px 100px;
      .title01 {
        position: relative;
        max-width: 600px;
        margin: 0 0 30px;
        z-index: 1;
      }
      .title02 {
        position: relative;
        margin: 0 0 80px;
        font-size: 36px;
        z-index: 1;
      }
      .txt {
        position: relative;
        font-size: 16px;
        z-index: 1;
        p + p {
          margin: 20px 0 0;
        }
      }
    }
    @media (min-width: 1025px) {
      .introPanel {
        min-height: 700px;
        .imgBox {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          max-width: 700px;
        }
      }
    }
  }
  .listContainer {
    padding: 160px 20px;
    .secTtl {
      margin: 0 0 60px;
      font-size: 36px;
      text-align: center;
    }
    .listBox {
      max-width: 960px;
      margin: 0 auto;
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: -20px 0 0 -20px;
        li {
          width: calc((100% / 4) - 20px);
          margin: 20px 0 0 20px;
        }
        .photo {
          position: relative;
          height: 180px;
          img {
            @include cover-image;
          }
        }
        .comment {
          margin: 8px 0 0;
          font-size: 16px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	message
///////////////////////////////////////////////////////////*/
#messageMain {
  .pageKvPanel {
    background: url("../image/message/kv_bg.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      img {
        max-width: 280px;
      }
    }
  }
  .messageSection {
    padding: 0 0 200px;
    .mvPanel {
      position: relative;
      padding: 200px 0 120px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        background: #ecf2f8;
      }
      .mvBox {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        .nameBox {
          position: absolute;
          right: 50px;
          bottom: -100px;
          width: 230px;
          padding: 20px 30px;
          font-size: 13px;
          color: #ffffff;
          text-align: center;
          letter-spacing: 0.2em;
          background: #000000;
          dl {
            dt {
              margin: 0 0 10px;
              padding: 0 0 10px;
              border-bottom: 1px solid #ffffff;
              + dd {
                margin: 0 0 10px;
                font-size: 30px;
              }
            }
          }
        }
      }
    }
    .messagePanel {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 120px 20px 200px;
      background: url("../image/message/panel_bg.png") right bottom no-repeat;
      background-size: auto 400px;
      .messageBox {
        .title02 {
          max-width: 620px;
          margin: 0 0 30px;
        }
        .txt {
          font-size: 16px;
          p + p {
            margin: 30px 0 0;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .messagePanel {
        display: flex;
        justify-content: space-between;
        .title01 {
          position: relative;
          width: 150px;
          font-size: 50px;
          writing-mode: vertical-rl;
          &::before {
            content: "";
            position: absolute;
            top: -160px;
            right: 40px;
            width: 1px;
            height: 130px;
            background: #000000;
          }
        }
        .messageBox {
          width: calc(100% - 220px);
          padding: 150px 0 0;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	recruitment
///////////////////////////////////////////////////////////*/
#recruitmentMain {
  .pageKvPanel {
    background: url("../image/recruitment/kv_bg.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      img {
        max-width: 380px;
      }
    }
  }
  .topPanel {
    padding: 150px 20px;
    .message {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .sec01 {
    .secPanel {
      position: relative;
      .txtBox {
        position: relative;
        padding: 20px 0;
        z-index: 1;
        .txt {
          p + p {
            margin: 30px 0 0;
          }
        }
      }
      @media (min-width: 1025px) {
        .txtBox {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          min-height: 700px;
          .txt {
            position: relative;
            width: 50%;
            &:after {
              content: "";
              position: absolute;
              right: 0;
              bottom: -100px;
              width: 240px;
              height: 360px;
              z-index: -1;
              background: url("../image/recruitment/cnt_slash_bg.png") no-repeat;
              background-size: 100% auto;
            }
          }
        }
        .photo {
          position: absolute;
          top: 0;
          left: -220px;
          width: 1000px;
        }
      }
    }
  }
  .sec02 {
    .secPanel {
      position: relative;
      .txtBox {
        position: relative;
        z-index: 1;
        .txt {
          p + p {
            margin: 30px 0 0;
          }
        }
      }
      @media (min-width: 1025px) {
        .txtBox {
          min-height: 600px;
          .txt {
            position: relative;
            width: 50%;
          }
        }
        .photo {
          position: absolute;
          right: -220px;
          bottom: 0;
          width: 1200px;
        }
      }
    }
  }
  .bnrPanel {
    padding: 200px 20px 0;
    a {
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .gallerySection {
    padding: 200px 20px;
    .galleryContainer {
      position: relative;
      max-width: 960px;
      margin: 0 auto;
    }
    @media (min-width: 1025px) {
      .galleryContainer {
        min-height: 1180px;
      }
      .galleryTitle {
        position: absolute;
        top: 600px;
        left: 30px;
        width: 600px;
        h2 {
          width: 480px;
        }
      }
      .imgBlock {
        a {
          overflow: hidden;
          position: relative;
          display: block;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .imgBlock01 {
        position: absolute;
        top: 0;
        left: 0;
        a {
          width: 350px;
          height: 290px;
        }
      }
      .imgBlock02 {
        position: absolute;
        top: 0;
        left: 360px;
        ul {
          li + li {
            margin: 10px 0 0;
          }
        }
        a {
          width: 110px;
          height: 90px;
        }
      }
      .imgBlock03 {
        position: absolute;
        top: 0;
        right: 245px;
        a {
          width: 235px;
          height: 190px;
        }
      }
      .imgBlock04 {
        position: absolute;
        top: 0;
        right: 0;
        a {
          width: 235px;
          height: 190px;
        }
      }
      .imgBlock05 {
        position: absolute;
        top: 300px;
        left: 0;
        a {
          width: 230px;
          height: 190px;
        }
      }
      .imgBlock06 {
        position: absolute;
        top: 300px;
        left: 240px;
        a {
          width: 230px;
          height: 190px;
        }
      }
      .imgBlock07 {
        position: absolute;
        top: 200px;
        left: 480px;
        ul {
          li + li {
            margin: 10px 0 0;
          }
        }
        a {
          width: 110px;
          height: 90px;
        }
      }
      .imgBlock08 {
        position: absolute;
        top: 200px;
        right: 0;
        a {
          width: 360px;
          height: 290px;
        }
      }
      .imgBlock09 {
        position: absolute;
        top: 700px;
        right: 370px;
        a {
          width: 110px;
          height: 90px;
        }
      }
      .imgBlock10 {
        position: absolute;
        top: 500px;
        right: 0;
        a {
          width: 360px;
          height: 290px;
        }
      }
      .imgBlock11 {
        position: absolute;
        top: 800px;
        left: 0;
        height: 390px;
        > a {
          width: 350px;
          height: 290px;
        }
        ul {
          display: flex;
          margin: 10px 0 0;
          li {
            + li {
              margin: 0 0 0 10px;
            }
          }
          a {
            width: 110px;
            height: 90px;
          }
        }
      }
      .imgBlock12 {
        position: absolute;
        top: 800px;
        left: 360px;
        height: 390px;
        ul {
          li + li {
            margin: 10px 0 0;
          }
        }
        a {
          width: 230px;
          height: 190px;
        }
      }
      .imgBlock13 {
        position: absolute;
        top: 800px;
        right: 0;
        height: 390px;
        ul {
          display: flex;
          margin: 0 0 10px;
          li {
            + li {
              margin: 0 0 0 10px;
            }
          }
          a {
            width: 113px;
            height: 90px;
          }
        }
        > a {
          width: 360px;
          height: 290px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
#companyMain {
  .pageKvPanel {
    background: url("../image/company/kv_bg.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      img {
        max-width: 500px;
      }
    }
  }
  .companySection {
    position: relative;
    padding: 60px 20px 90px;
    background: #f4f4f4;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 120px);
      height: 90px;
      background: url("../image/company/sec_bg_band.png") no-repeat;
      background-size: 100% auto;
    }
    .section {
      position: relative;
      max-width: 960px;
      margin: 0 auto;
      padding: 60px 20px;
      background: #ffffff;
      + .section {
        margin: 60px auto 0;
      }
      .inner {
        max-width: 760px;
        margin: 0 auto;
      }
      h2 {
        margin: 0 0 30px;
        padding: 0 0 5px;
        font-size: 24px;
        color: #004d9a;
        border-bottom: 1px solid #004d9a;
      }
      .infoBox {
        dl {
          display: flex;
          font-size: 18px;
          line-height: 2;
          + dl {
            margin: 15px 0 0;
          }
          dt {
            width: 130px;
            color: #004d9a;
          }
          dd {
            width: calc(100% - 130px);
          }
          a {
            display: inline-block;
          }
        }
      }
      .txt {
        margin: 0 0 30px;
        font-size: 18px;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
#contactMain {
  .pageKvPanel {
    background: url("../image/contact/kv_bg.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      img {
        max-width: 270px;
      }
    }
  }
  .formContainer {
    padding: 120px 0;
    .topTxt {
      margin: 0 0 60px;
      font-size: 30px;
      text-align: center;
      line-height: 2;
    }
  }
}

/*===================================================
	フォーム
===================================================*/
.formBox {
  max-width: 840px;
  margin: 0 auto;
  font-size: 16px;
  form > dl {
    letter-spacing: 0.1em;
    + dl {
      margin: 25px 0 0;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #000000;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #000000;
    background: #ffffff;
    resize: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    outline: 0;
    border: 1px solid #cccccc;
  }
  .birthBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #000000;
    ul {
      display: flex;
      align-items: center;
      li {
        position: relative;
        width: 100px;
        + li {
          padding: 0 0 0 20px;
          &:before {
            content: "／";
            position: absolute;
            top: 5px;
            left: 0;
            color: #7d7c2c;
          }
        }
      }
    }
    input {
      height: 30px;
      padding: 0 10px;
      text-align: center;
      border: none;
    }
  }
  .checkItem {
    margin: 0 0 60px;
    text-align: center;
    > label {
      position: relative;
      display: block;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
    }
    span {
      display: block;
      padding-left: 25px;
      position: relative;
      line-height: 1;
    }
    span::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      margin: auto 0;
      border: 1px solid #000000;
      background: #ffffff;
    }
    input:checked + span::after {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      left: 2px;
      width: 10px;
      height: 16px;
      transform: rotate(40deg);
      border-bottom: 2px solid #000000;
      border-right: 2px solid #000000;
    }
    &.agreeCheck {
      > label {
        display: inline-block;
      }
    }
  }
  .nameBox {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
    > dl {
      width: 49%;
      dt {
        margin: 0 0 5px;
        em {
          color: red;
        }
      }
    }
  }
  form > dl {
    + dl {
      margin: 15px 0 0;
    }
    dt {
      margin: 0 0 5px;
      em {
        color: red;
      }
    }
  }
  @media (min-width: 1025px) {
    .msg {
      align-items: flex-start;
      dt {
        padding: 10px 0 0;
      }
    }
  }
  .privacy {
    max-width: 388px;
    margin: 50px auto 20px;
    border: 1px solid #000000;
    .agreeBox {
      overflow: scroll;
      height: 80px;
      padding: 10px;
      font-size: 12px;
      background: #ffffff;
    }
    .box {
      + .box {
        margin: 10px 0 0;
      }
    }
    dl {
      dt {
        margin: 0 0 3px;
      }
    }
    a {
      display: inline-block;
      color: #000000;
    }
  }
  .submitButton {
    position: relative;
    text-align: center;
  }
  input[type="submit"] {
    display: block;
    width: 260px;
    height: 50px;
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: #0a5aaa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &[disabled] {
      cursor: default;
      opacity: 0.3;
    }
  }
}

#contactConfirm,
#contactComplete {
  #section__contact {
    padding: 200px 0 250px;
    .contactContainer {
      padding: 0 0 50px;
    }
    .secTitleBox {
      margin: 0 0 40px;
      text-align: center;
    }
    @media (min-width: 1025px) {
      .secTitleBox {
        h2 {
          font-size: 40px;
        }
      }
    }
    .topTxt {
      margin: 0 0 60px;
      text-align: center;
    }
  }
  .formConfirm {
    max-width: 1060px;
    margin: 0 auto;
    .selectList + p,
    .privacy,
    .checkTxt,
    .agreeCheck {
      display: none;
    }
    .nameBox {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px;
      padding: 10px 0;
      border-bottom: 1px dashed #000000;
      > dl {
        width: 49%;
        font-size: 16px;
        dt {
          margin: 0 0 5px;
          em {
            color: red;
          }
        }
      }
    }
    form > dl {
      padding: 10px 0;
      font-size: 16px;
      letter-spacing: 0.15em;
      border-bottom: 1px dashed #000000;
      + dl {
        margin: 15px 0 0;
      }
      dt {
        margin: 0 0 5px;
        em {
          color: red;
        }
      }
    }
    .dateFormPanel {
      margin: 40px 0 0;
      .ttl {
        font-size: 20px;
      }
    }
    .submitButton {
      position: relative;
      text-align: center;
    }
    input[type="submit"] {
      display: block;
      width: 260px;
      height: 50px;
      margin: 50px auto 0;
      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
      cursor: pointer;
      border: none;
      border-radius: 0;
      background: #0a5aaa;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &[disabled] {
        cursor: default;
        opacity: 0.3;
      }
    }
    button.btnBack {
      display: block;
      width: 260px;
      height: 50px;
      margin: 30px auto 0;
      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
      cursor: pointer;
      border: none;
      border-radius: 0;
      background: #000000;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .birthBox {
      ul {
        li {
          display: inline-block;
          &:nth-child(1) {
            &::after {
              content: "年";
            }
          }
          &:nth-child(2) {
            &::after {
              content: "月";
            }
          }
          &:nth-child(3) {
            &::after {
              content: "日";
            }
          }
        }
      }
    }
  }
  .btnToTop {
    margin: 40px auto 0;
    text-align: center;
    a {
      display: inline-block;
      font-size: 18px;
      text-decoration: underline;
    }
  }
}
