@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvPanel {
    position: relative;
    padding: 0 0 30px;
    .topKv {
      position: relative;
      height: 700px;
    }
    .kvBox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .kv01 {
        background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_kv_01.png)
          center no-repeat;
        background-size: cover;
      }
      .kv02 {
        background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_kv_02.png)
          center no-repeat;
        background-size: cover;
      }
      .kv03 {
        background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_kv_03.png)
          center no-repeat;
        background-size: cover;
      }
    }
    .kvTitle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      font-size: 26px;
      padding: 15px;
      text-align: center;
      border: 1px solid #707070;
      background: #ffffff;
    }
  }
  .topSection {
    padding: 150px 0;
    text-align: center;
    background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_top_bg.png)
      center no-repeat;
    background-size: cover;
    h1 {
      margin: 0 0 60px;
      font-size: 34px;
    }
  }
  .fixedPhoto {
    height: 50vh;
    .photo {
      display: none;
    }
  }
  .fixedPhoto01 {
    background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_fixed_img_01.png)
      center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .fixedPhoto02 {
    background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_fixed_img_02.png)
      center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .fixedPhoto03 {
    background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/top_fixed_img_03.png)
      center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .sectionContainer {
    padding: 120px 0;
    .titleHead {
      display: flex;
      align-items: center;
      .icon {
        width: 40px;
      }
      .title {
        margin: 0 0 0 10px;
        line-height: 1.2;
      }
    }
    .titleHead01 {
      .title {
        color: #cbdc53;
      }
    }
    .titleHead02 {
      .title {
        color: #2a82c5;
      }
    }
    .titleHead03 {
      .title {
        color: #f05245;
      }
    }
    .secBox {
      position: relative;
      h2 {
        margin: 0 0 40px;
        font-size: 34px;
      }
      .txt {
        margin: 0 0 40px;
      }
    }
    .secBox01 {
      h2 {
        color: #cbdc53;
      }
    }
    .secBox02 {
      h2 {
        color: #2a82c5;
      }
    }
    .secBox03 {
      h2 {
        color: #f05245;
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        padding: 40px 0 0;
        .photo {
          position: relative;
          height: 440px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .txtBox {
          max-width: 550px;
        }
      }
      .secBox01,
      .secBox03 {
        .photo {
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
        }
        .txtBox {
          width: 50%;
        }
      }
      .secBox02 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 60px 0 0 55%;
        .photo {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
        }
        h2 {
          width: 100%;
        }
      }
      .titleHead02 {
        padding: 0 0 0 55%;
      }
    }
  }
  .newsSection {
    padding: 240px 0 120px;
    .titleBox {
      position: relative;
      max-width: 1200px;
      margin: 0 auto 60px;
      text-align: center;
      h2 {
        font-size: 34px;
      }
      .btnMore {
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        a {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 15px;
          background: #ffffff;
          box-shadow: 2px 0 11px rgba(95, 95, 95, 0.12);
        }
        .txtBox {
          > p {
            padding: 20px 0;
          }
        }
        .time {
          margin: auto 0 0;
          text-align: right;
        }
      }
    }
    @media (min-width: 1025px) {
      .webgene-blog {
        display: flex;
        margin: 0 0 0 -20px;
        .webgene-item {
          width: calc((100% / 5) - 20px);
          margin: 0 0 0 20px;
        }
        .img {
          overflow: hidden;
          position: relative;
          height: 200px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .infoSection {
    padding: 120px 100px 150px;
    .secBox {
      h2 {
        margin: 0 0 30px;
        font-size: 34px;
      }
      .infoBox {
        border-top: 1px dashed #d9e6ef;
        .dl {
          display: flex;
          padding: 10px 20px;
          border-bottom: 1px dashed #d9e6ef;
          .dt {
            width: 140px;
            color: #3d81ad;
          }
          .dd {
            width: calc(100% - 140px);
            a {
              display: inline-block;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        position: relative;
      }
      .secBox {
        padding: 0 0 0 50%;
        h2 {
          padding: 0 60px;
        }
      }
      .mapBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 500px;
        padding: 0;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	about
///////////////////////////////////////////////////////////*/
.aboutMain {
  .topSection {
    padding: 150px 0;
    text-align: center;
    background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/about_top_bg.png)
      center no-repeat;
    background-size: cover;
    h1 {
      margin: 0 0 60px;
      font-size: 34px;
    }
    .btnToList {
      margin: 80px auto 0;
      .linkBtn {
        position: relative;
        display: inline-block;
        width: 250px;
        padding: 0 15px 10px;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #d6d6d6;
        transition: 0.6s;
        p {
          padding: 0 40px 0 0;
          background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/more_arrow_right.png)
            right 10px center no-repeat;
          background-size: 5px auto;
          transition: 0.6s;
        }
      }
      @media (min-width: 1025px) {
        .linkBtn {
          border-bottom: 0;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #d6d6d6;
            transition: all 0.3s;
            transform: scale(0, 1);
            transform-origin: left top;
          }
          &:hover {
            &:after {
              transform: scale(1, 1);
            }
            p {
              background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/more_arrow_right.png)
                right center no-repeat;
              background-size: 5px auto;
            }
          }
        }
      }
    }
  }
  .sectionContainer {
    + .sectionContainer {
      margin: 100px 0 0;
    }
    .titlePanel {
      min-height: 450px;
      padding: 50px 100px;
      .titleBox {
        padding: 50px;
        background: rgba(255, 255, 255, 0.9);
        h2 {
          margin: 0 0 30px;
          font-size: 34px;
        }
      }
    }
    .titlePanel01 {
      background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/about_mv_01.png)
        center no-repeat;
      background-size: cover;
      .titleBox {
        h2 {
          color: #cbdc53;
        }
      }
    }
    .titlePanel02 {
      background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/about_mv_02.png)
        center no-repeat;
      background-size: cover;
      .titleBox {
        h2 {
          color: #2a82c5;
        }
      }
    }
    .titlePanel03 {
      background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/about_mv_03.png)
        center no-repeat;
      background-size: cover;
      .titleBox {
        h2 {
          color: #f05245;
        }
      }
    }
    @media (min-width: 1025px) {
      .titlePanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titleBox {
          width: 48%;
        }
      }
      .titlePanel01,
      .titlePanel03 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .introPanelList {
      padding: 120px 0;
      h3 {
        margin: 0 0 30px;
        font-size: 34px;
      }
      &.introPanelList01 {
        h3 {
          color: #cbdc53;
        }
      }
      &.introPanelList02 {
        h3 {
          color: #2a82c5;
        }
      }
      &.introPanelList03 {
        h3 {
          color: #f05245;
        }
      }
      .introPanel {
        + .introPanel {
          margin: 80px 0 0;
        }
        .txt {
          p + p {
            margin: 30px 0 0;
          }
        }
      }
    }
    .introPanelList01 {
      @media (min-width: 1025px) {
        .introPanel01 {
          .secBox {
            display: flex;
            justify-content: space-between;
            .photo {
              order: 2;
              width: 42%;
            }
            .txtBox {
              order: 1;
              width: 52%;
            }
          }
        }
        .introPanel02 {
          .secBox {
            display: flex;
            justify-content: space-between;
            .photo {
              width: 42%;
            }
            .txtBox {
              width: 52%;
            }
          }
        }
        .introPanel03 {
          .secBox {
            position: relative;
            .photo {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 45%;
            }
          }
        }
      }
    }
    .introPanelList02 {
      .introPanel01 {
        .secBox {
          margin: 0 0 40px;
        }
      }
      @media (min-width: 1025px) {
        .introPanel01 {
          .secBox {
            display: flex;
            justify-content: space-between;
            .photo {
              order: 2;
              width: 40%;
            }
            .txtBox {
              order: 1;
              width: 54%;
            }
          }
        }
        .introPanel02 {
          .secBox {
            display: flex;
            justify-content: space-between;
            .photo {
              width: 42%;
            }
            .txtBox {
              width: 52%;
            }
          }
        }
        .introPanel03 {
          position: relative;
          min-height: 630px;
          .secBox {
            .photo {
              position: absolute;
              top: 0;
              right: 0;
              width: 35%;
            }
          }
        }
      }
    }
  }
  .itemListPanel {
    padding: 200px 0;
    h3 {
      margin: 0 0 40px;
      font-size: 34px;
      text-align: center;
    }
    .topTxt {
      margin: 0 0 40px;
      text-align: center;
    }
    .itemList {
      .ul {
        display: flex;
        flex-wrap: wrap;
        .li {
          display: flex;
          flex-direction: column;
          padding: 10px 10px 20px;
          text-align: center;
          background: #ffffff;
          box-shadow: 2px 0 11px rgba(95, 95, 95, 0.12);
        }
        .title {
          padding: 20px 0;
        }
        .btnDetail {
          max-width: 200px;
          width: 100%;
          margin: auto auto 0;
          padding: 7px;
          color: #ffffff;
          text-align: center;
          cursor: pointer;
          border-radius: 20px;
          background: #b0be4a;
        }
      }
    }
    .itemListLarge {
      .ul {
        margin: -20px 0 0 -20px;
        .li {
          width: calc((100% / 4) - 20px);
          margin: 20px 0 0 20px;
        }
        .title {
          font-size: 24px;
        }
      }
    }
    .itemListSmall {
      margin: 80px 0 0;
      .ul {
        margin: -10px 0 0 -10px;
        .li {
          width: calc((100% / 6) - 10px);
          margin: 10px 0 0 10px;
        }
        .btnDetail {
          max-width: 140px;
          font-size: 12px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .topSection {
    padding: 150px 0;
    text-align: center;
    h1 {
      margin: 0 0 30px;
      font-size: 34px;
    }
    .topTxt {
      margin: 0 0 60px;
      + .txt {
        margin: 20px 0 0;
      }
      .em {
        font-weight: bold;
        text-decoration: underline;
      }
      + .btnMore {
        margin: 40px auto 0;
        text-align: center;
      }
    }
    .faxPanel {
      padding: 30px 60px;
      border: 1px solid #707070;
      h2 {
        margin: 0 0 20px;
        font-size: 24px;
        + .txt {
          margin: 0 0 20px;
        }
      }
      .faxNum {
        display: inline-block;
        margin: 0 0 30px;
        line-height: 1.2;
        border-bottom: 1px solid #707070;
        > p {
          display: inline-block;
          font-size: 34px;
        }
        a {
          display: inline-block;
          font-size: 40px;
        }
      }
      .pdfBox {
        .btnPdf {
          a {
            display: block;
            padding: 15px 10px;
            font-size: 22px;
            background: #e9e9e9;
            p {
              display: inline-block;
              padding: 0 0 0 40px;
              background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/contact_pdf.png)
                left center no-repeat;
              background-size: 30px auto;
            }
          }
        }
        .txt {
          text-align: left;
          a {
            display: inline-block;
            color: #0c096e;
            text-decoration: underline;
          }
        }
      }
      @media (min-width: 1025px) {
        .pdfBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .btnPdf {
            width: 40%;
          }
          .txt {
            width: 55%;
          }
        }
      }
    }
  }
  .formSection {
    padding: 60px 0 150px;
    .ttlLine {
      position: relative;
      font-size: 34px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        margin: auto 0;
        background: #aab8c3;
      }
      > * {
        position: relative;
        display: inline-block;
        padding: 0 40px 0 0;
        background: #ffffff;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #707070;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #707070;
    background: #ffffff;
    resize: none;
    box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .contactForm button[type="submit"] {
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 260px;
    width: 100%;
    margin: 60px auto 0;
    padding: 10px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
      "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/more_arrow_right.png)
      right 10px center no-repeat;
    background-size: 6px auto;
    transition: 0.6s;
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    .checkList {
      .ul {
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      > label {
        position: relative;
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      span {
        display: block;
        padding-left: 20px;
        position: relative;
      }
      span::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #707070;
        background: #ffffff;
      }
      input:checked + span::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #000000;
        border-right: 3px solid #000000;
      }
      &.agreeCheck {
        > label {
          display: inline-block;
        }
      }
    }

    .radioList01 {
      .list {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #707070;
        background: #ffffff;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #000000;
      }
    }

    .postalBox {
      margin: 0 0 20px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
    }

    .selectBox {
      display: inline-block;
      width: 200px;
      select {
        display: block;
        width: 100%;
        padding: 11px 20px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px solid #707070;
        background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/contact_select_arrow.png)
          right 10px center no-repeat #ffffff;
        background-size: 10px auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .contactForm {
    padding: 40px 0 0;
    text-align: left;
    .formBox {
      border-top: 1px dashed #d9e6ef;
      + .formBox {
        margin-top: 60px;
      }

      > .dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        border-bottom: 1px dashed #d9e6ef;

        &.line {
          align-items: flex-start;
          > .dt {
            padding: 20px 0 0;
          }
        }

        > .dt {
          width: 310px;
          padding: 15px 0 10px;

          .span {
            display: inline-block;
            margin-right: 10px;
            color: #3d81ad;
            vertical-align: middle;
          }

          .em {
            display: inline-block;
            padding: 2px 8px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            background: #f05245;
          }

          .aside {
            margin-top: 10px;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }
        }

        > .dd {
          width: calc(100% - 330px);
          padding: 10px 0;
        }
      }

      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        margin: 30px auto 0;
        text-align: center;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          font-weight: 400;
          text-align: left;
          border: 1px solid #707070;
          background: #fafafa;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }

    .fileUploadBox {
      font-weight: 400;
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
        margin: 0 0 10px;
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 35%;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
          background: #a4a4a4;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 15px 10px;
          }
        }

        > p {
          width: 62%;
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
  }
  .extraContainer {
    margin: 50px 0;
    .extraPanel {
      + .extraPanel {
        margin: 40px 0 0;
      }
      .ttl {
        padding: 0 5px 10px;
        color: #eb0002;
        border-bottom: 1px dotted #000000;
      }
      .dl {
        padding: 20px 0 0 0;
        .dt {
          margin: 0 0 10px;
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          padding: 30px 0 0 20px;
          .dt {
            width: 320px;
            margin: 0;
            padding: 0 20px;
          }
          .dd {
            width: calc(100% - 320px);
          }
        }
      }
    }
  }
  .nameArea {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    .nameBox {
      width: 45%;
      > * {
        display: inline-block;
      }
      p {
        width: 40px;
      }
      input {
        width: calc(100% - 55px);
      }
    }
  }
  .paymentTitle {
    margin: 100px 0 50px;
    font-weight: bold;
    text-align: center;
  }
  .orderTitle {
    margin: 100px 0 20px;
    padding: 0 20px 10px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #aab8c3;
  }
  .originalBox {
    margin: 0 0 20px;
    padding: 20px 20px 40px;
    border-bottom: 1px dashed #d9e6ef;
    .ttl {
      margin: 0 0 15px;
    }
    .original {
      display: flex;
      align-items: center;
      margin: 0 0 20px;
      .box01 {
        margin: 0 10px 0 0;
        color: #3d81ad;
      }
      .box03 {
        margin: 0 0 0 auto;
        > * {
          display: inline-block;
        }
        .originalInput {
          width: 220px;
          margin: 0 0 0 10px;
        }
      }
    }
    .originalImg {
      max-width: 250px;
    }
  }
  .cautionContainer {
    padding: 40px 50px;
    border: 1px solid #707070;
    .cautionTitle {
      margin: 0 0 30px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    .cautionBox01 {
      margin: 0 0 60px;
    }
    .cautionBox02 {
      margin: 0 0 60px;
    }
    .cautionBox03 {
      .paymentBox {
        max-width: 1000px;
        margin: 0 auto;
        .dl {
          display: flex;
          align-items: flex-end;
          padding: 0 0 20px;
          line-height: 2;
          border-bottom: 1px dashed #d9e6ef;
          + .dl {
            margin: 60px 0 0;
          }
          .dt {
            width: 240px;
            color: #3d81ad;
          }
          .dd {
            width: calc(100% - 240px);
          }
          &:nth-child(1) {
            align-items: flex-start;
          }
        }
        .qrArea {
          display: flex;
          align-items: flex-end;
          .qrBox {
            width: 90px;
            margin: 0 0 0 40px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }
  .btnMore {
    margin: 0 auto;
  }
}

/*////////////////////////////////////////////////////////////
	news
///////////////////////////////////////////////////////////*/
.newsMain {
  .topSection {
    padding: 150px 0;
    h1 {
      margin: 0 0 60px;
      font-size: 34px;
      text-align: center;
    }
  }
  .catePanel {
    margin: 0 0 60px;
    text-align: center;
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        display: inline-block;
        width: 220px;
        + .webgene-item {
          margin: 0 0 0 60px;
        }
        a {
          display: block;
          padding: 10px;
          color: #ffffff;
          border-radius: 20px;
          background: #b0be4a;
        }
      }
    }
  }
  .listPanel {
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        a {
          display: block;
          padding: 15px;
          background: #ffffff;
          box-shadow: 2px 0 11px rgba(95, 95, 95, 0.12);
        }
        .photo {
          margin: 0 0 15px;
        }
        .txt {
          line-height: 1.5;
        }
        .infoBox {
          display: flex;
          justify-content: space-between;
          margin: 0 0 20px;
          font-size: 16px;
          .cate {
            p {
              display: inline-block;
              min-width: 100px;
              padding: 2px 20px;
              font-size: 12px;
              color: #ffffff;
              text-align: center;
              border-radius: 20px;
              background: #b0be4a;
            }
          }
        }
        .ttl {
          min-height: 80px;
        }
      }
    }
    @media (min-width: 1025px) {
      .webgene-blog {
        display: flex;
        flex-wrap: wrap;
        margin: -50px 0 0 -40px;
      }
      .webgene-item {
        width: calc((100% / 3) - 40px);
        margin: 50px 0 0 40px;
        .photo {
          overflow: hidden;
          position: relative;
          height: 220px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .webgene-pagination {
      overflow: hidden;
      width: 100%;
      margin: 100px auto 0;
      font-size: 14px;
      ul {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 2px;

          a {
            display: block;
            width: 45px;
            color: #ffffff;
            line-height: 45px;
            font-weight: bold;
            text-align: center;
            background: #cdcdcd;
          }
        }
        .prev {
          margin: 0 2px 0 0;
        }
        .next {
          position: relative;
          margin: 0 0 0 2px;
        }
        .selected {
          a {
            background: #3d7ab0;
          }
        }
        @media (min-width: 1025px) {
          li {
            margin: 0 10px;
          }
          .prev {
            float: left;
          }
          .next {
            float: right;
          }
        }
      }
    }
  }
  .galleryDetailPanel {
    max-width: 1000px;
    margin: 0 auto;
    .webgene-header {
      display: none;
    }
    .webgene-item {
      padding: 30px 40px;
      background: #ffffff;
      box-shadow: 2px 0 11px rgba(95, 95, 95, 0.12);
      .info {
        margin: 0 0 20px;
        .time {
          display: inline-block;
          margin: 0 10px 0 0;
        }
        .cate {
          display: inline-block;
          min-width: 100px;
          padding: 2px 20px;
          font-size: 12px;
          color: #ffffff;
          text-align: center;
          border-radius: 20px;
          background: #b0be4a;
        }
      }
      .ttlBox {
        padding: 0 0 15px;
        font-size: 30px;
      }
      .slickSlide {
        margin: 0 0 30px;
        .slider {
          .li {
            > div {
              overflow: hidden;
              position: relative;
              padding: 0 0 65%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .slick-list {
        margin: 0 0 10px;
      }
      .thumb-item {
        margin: 0 auto 10px;
      }
      .slick-slide {
        margin: 0 5px;
      }
      .slideNav {
        .slick-prev,
        .slick-next {
          display: none !important;
        }
      }
      .postBox {
        .photo {
          margin-bottom: 20px;

          img {
            width: auto;
            max-width: 100%;
          }
        }
        .postTxt {
          line-height: 2;
          p + p {
            margin: 30px 0 0;
          }
          img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  .btnBack {
    margin: 80px 0 0;
    text-align: center;
    a {
      position: relative;
      display: inline-block;
      width: 220px;
      padding: 0 15px 10px;
      border-bottom: 1px solid #d6d6d6;
      p {
        background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png)
          left 10px center no-repeat;
        background-size: 5px auto;
        transition: 0.6s;
      }
    }
    @media (min-width: 1025px) {
      a {
        border-bottom: 0;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #d6d6d6;
          transition: all 0.3s;
          transform: scale(0, 1);
          transform-origin: left top;
        }
        &:hover {
          &:after {
            transform: scale(1, 1);
          }
          p {
            background: url(https://aoyamanouen230407.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png)
              left center no-repeat;
            background-size: 5px auto;
          }
        }
      }
    }
  }
}
