@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  line-height: 1.5;
  color: #000000;
  font-size: 14px;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2.5;
}

/*リンク */
a {
  color: #101211;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
header {
  padding: 20px;
  border-bottom: 1px solid #808080;
}
header h1 {
  font-size: 2em;
  font-weight: bold;
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
#column {
  padding: 20px;
}
#column > h1 {
  margin: 0 0 0.67em;
  font-size: 2em;
  font-weight: bold;
}

#left_column {
  float: left;
  width: 60%;
}
#left_column table {
  width: 100%;
  border: solid 1px #808080;
}
#left_column table tr.active {
  background-color: #f0f8ff;
}
#left_column table th {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid 1px #808080;
  background: #1f51a2;
}
#left_column table th + th {
  border-left: solid 1px #808080;
}
#left_column table th:last-child p + p {
  display: flex;
  border-top: solid 1px #808080;
}
#left_column table th:last-child p + p span {
  width: 25%;
  padding: 5px;
  color: #000000;
}
#left_column table th:last-child p + p span + span {
  border-left: solid 1px #808080;
}
#left_column table th:last-child p + p span:nth-child(1) {
  background: #99ffcc;
}
#left_column table th:last-child p + p span:nth-child(2) {
  background: #ffffcc;
}
#left_column table th:last-child p + p span:nth-child(3) {
  background: #d3d3d3;
}
#left_column table th:last-child p + p span:nth-child(4) {
  background: #ffb6c1;
}
#left_column table td a {
  display: inline-block;
}

#right_column {
  float: right;
  width: 39%;
}
#right_column table {
  width: 100%;
  border: 1px solid #808080;
}
#right_column table tr + tr {
  border-top: 1px solid #808080;
}
#right_column table tr th {
  width: 20%;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #808080;
}
#right_column table tr td {
  height: 48px;
  padding: 8px;
}
#right_column .btn-border2 {
  display: inline-block;
  max-width: 200px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 13px;
  color: #999;
  text-decoration: none;
  padding: 0 4px;
  margin: 1px;
  transition: 0.4s;
  border-radius: 50%;
}
#right_column .btn-border2:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}
#right_column form p {
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.7;
}

@media (min-width: 1025px) {
  #left_column table th:nth-child(1) {
    width: 20%;
  }
  #left_column table th:nth-child(2) {
    width: 50%;
  }
  #left_column table th:nth-child(3) {
    width: 30%;
  }
  #left_column table th dl {
    display: none;
  }
  #left_column table td a {
    text-decoration: underline;
  }
  #left_column table .tdContainer {
    display: flex;
  }
  #left_column table .tdContainer > * + * {
    border-left: solid 1px #808080;
  }
  #left_column table .tdContainer .dateBox {
    width: 20%;
    padding: 12px;
  }
  #left_column table .tdContainer .cntBox {
    width: 50%;
    padding: 12px;
  }
  #left_column table .tdContainer .attendCount {
    width: 30%;
    text-align: center;
  }
  #left_column table .tdContainer .attendCount ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #left_column table .tdContainer .attendCount ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
  }
  #left_column table .tdContainer .attendCount ul li + li {
    border-left: solid 1px #808080;
  }
  #left_column table .accordBody {
    display: none;
  }
  #left_column table tbody tr + tr {
    border-top: solid 1px #808080;
  }
}
@media (max-width: 1024px) {
  header h1 {
    font-size: 1.5em;
  }

  #column {
    min-height: 500px;
    padding: 20px 20px 80px;
  }
  #column > h1 {
    font-size: 1.5em;
  }

  #left_column {
    float: none;
    width: 100%;
  }
  #left_column table {
    border-bottom: none;
  }
  #left_column table th:nth-child(1) {
    width: 100%;
    border-right: solid 1px #808080;
  }
  #left_column table th:nth-child(2) {
    display: none;
  }
  #left_column table th:nth-child(3) {
    display: none;
    width: 30%;
  }
  #left_column table th .inner {
    display: flex;
    align-items: center;
  }
  #left_column table th .inner > p {
    width: 70%;
  }
  #left_column table th .inner dl {
    width: 30%;
  }
  #left_column table th .inner dl dt {
    border-left: 1px solid #ffffff;
  }
  #left_column table th .inner dl dd {
    display: flex;
    border-top: solid 1px #808080;
  }
  #left_column table th .inner dl dd span {
    width: 25%;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
  }
  #left_column table th .inner dl dd span + span {
    border-left: solid 1px #808080;
  }
  #left_column table th .inner dl dd span:nth-child(1) {
    background: #99ffcc;
  }
  #left_column table th .inner dl dd span:nth-child(2) {
    background: #ffffcc;
  }
  #left_column table th .inner dl dd span:nth-child(3) {
    background: #d3d3d3;
  }
  #left_column table th .inner dl dd span:nth-child(4) {
    background: #ffb6c1;
  }
  #left_column table .tdContainer {
    display: flex;
    flex-wrap: wrap;
  }
  #left_column table .tdContainer .dateBox {
    order: 1;
    width: 70%;
    padding: 15px;
    border-bottom: solid 1px #808080;
    background: url("../image/icon_arrow_down.png") right 10px center no-repeat;
    background-size: 10px auto;
  }
  #left_column table .tdContainer .dateBox.active {
    background: url("../image/icon_arrow_up.png") right 10px center no-repeat;
    background-size: 10px auto;
  }
  #left_column table .tdContainer .cntBox {
    order: 3;
    display: none;
    width: 100%;
  }
  #left_column table .tdContainer .cntBox > p {
    padding: 15px;
    border-bottom: solid 1px #808080;
    background: #f5f5f5;
  }
  #left_column table .tdContainer .attendCount {
    order: 2;
    width: 30%;
    border-bottom: solid 1px #808080;
  }
  #left_column table .tdContainer .attendCount ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #left_column table .tdContainer .attendCount ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-left: solid 1px #808080;
  }
  #left_column table .attendBox {
    background: #ffffff;
  }
  #left_column table .attendBox dl dt {
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px #808080;
  }
  #left_column table .attendBox dl:nth-child(1) dt {
    background: #99ffcc;
  }
  #left_column table .attendBox dl:nth-child(2) dt {
    background: #ffffcc;
  }
  #left_column table .attendBox dl:nth-child(3) dt {
    background: #d3d3d3;
  }
  #left_column table .attendBox dl:nth-child(4) dt {
    background: #ffb6c1;
  }
  #left_column table .attendBox ul li {
    display: flex;
    border-bottom: solid 1px #808080;
  }
  #left_column table .attendBox ul li .delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 20px;
    border-right: solid 1px #808080;
    background: #f5f5f5;
  }
  #left_column table .attendBox ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 40px;
    text-align: center;
  }
  #left_column table .attendBox ul li .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    width: calc(100% - 40px);
    background: #ffffff;
  }

  #right_column {
    display: none;
  }

  .formBox {
    padding: 10px 15px;
    border-bottom: solid 1px #808080;
  }
  .formBox input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 1em;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #000000;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .formBox select {
    display: block;
    width: 100px;
    padding: 7px 10px;
    font-size: 16px;
    line-height: 1.5em;
    border-radius: 10px;
    border: 1px solid #000000;
    background: url("../image/icon_arrow_down.png") right 10px center no-repeat #ffffff;
    background-size: 10px auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .formBox input[type=submit] {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0 10px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #000000;
    background: linear-gradient(to bottom, #c6dff4, #47ade3);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .formBox .inputItems {
    margin: 0 0 10px;
  }
  .formBox .inputItems dl {
    display: inline-block;
    margin: 5px 10px 0 0;
    vertical-align: middle;
  }
  .formBox .inputItems dl dt {
    display: inline-block;
    font-size: 12px;
  }
  .formBox .inputItems dl dd {
    display: inline-block;
  }
  .formBox .inputItems dl dd input[type=text] {
    max-width: 180px;
  }
  .formBox .inputItems + dl {
    display: flex;
    align-items: center;
  }
  .formBox .inputItems + dl dt {
    width: 70px;
    font-size: 12px;
  }
  .formBox .inputItems + dl dd {
    width: calc(100% - 70px);
  }
  .formBox .buttonBox {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
  }
  .formBox .buttonBox > p {
    font-size: 11px;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
footer {
  clear: both;
  background-color: #fff;
  border-top: 1px solid #808080;
  padding: 20px;
}