
					<canvas id="canvas" class="canvas" width="648" height="208"></canvas>
					<script type="text/javascript">
						
						var canvas  = document.getElementById('canvas');
						var v = canvas.getContext('2d');
						
						v.beginPath();
						<!---->
						v.stroke();
						
						v.beginPath();
						<!---->
						v.stroke();
						
					</script>
					<div class="canvas"><!---->
						<span class="u_td_cnt" style="top:$u_top;left:$left;">$u_cnt</span>
						<span class="p_td_cnt" style="top:$p_top;left:$left;">$p_cnt</span><!---->
						<span class="u_yd_cnt" style="top:$u_top;left:$left;">$u_cnt</span>
						<span class="p_yd_cnt" style="top:$p_top;left:$left;">$p_cnt</span><!---->
					</div>