<table style="font:small/1.5 \'メイリオ\',\'Meiryo\';width:500px;margin:10px;padding:0;border:1px solid #cccccc;background:#ffffff;border-collapse:collapse;table-layout:fixed;">
	<!---->
	<tr style="background:#f8f8f8;$style">
		<td style="border-bottom:1px solid #dddddd;padding:1px 5px;text-align:right;width:25px;">$i.</td>
		<td style="border-bottom:1px solid #dddddd;padding:1px 0px;"> $name </td>
		<td style="border-bottom:1px solid #dddddd;padding:1px 0px;text-align:right;width:60px;">$cnt /</td>
		<td style="border-bottom:1px solid #dddddd;padding:1px 0px;text-align:right;padding-right:8px;width:50px;">$per</td>
	</tr>
	<!---->
</table>
<p style="font:small/1.5 \'メイリオ\',\'Meiryo\';width:450px;margin:0;padding:0;margin-left:20px;">
	<a href="http://act.st/" target="_blank">[Analyzed by Lunalys]</a>
	&nbsp;&nbsp; $y/$m &nbsp;$param
</p>