				<fieldset id="$graph">
					<legend>
						<span class="$graph">
							$sum : $t_u / $t_p &nbsp; &nbsp;
							$ave : $a_u / $a_p &nbsp; &nbsp;$max
						</span>$w_days
					</legend><!---->
					<table id="h_table">
						<tr class="g_tr"><!---->
							<td>
								<p>
									<span class="p_cnt">&nbsp;$p_cnt</span><br />
									<span class="u_cnt">$u_cnt</span><br />
									<img class="u_img" src="$scr_dir/templates/img/graph/$bar_color_t/u.png" width="8" height="$u_h" alt="$u_cnt" />
									<img class="p_img" src="$scr_dir/templates/img/graph/$bar_color_t/p.png" width="8" height="$p_h" alt="$p_cnt" />
								</p>
							</td><!---->
						</tr>
						<tr id="h_n_tr"><!---->
							<td$class$id><p>$s</p></td><!---->
						</tr>
					</table>$graph_d
				</fieldset>