				<fieldset>
					<legend>
						累計 : $u_t / $p_t &nbsp; &nbsp;
						昨日 : $u_yd / $p_yd &nbsp; &nbsp;
						今日 : $u_td / $p_td
					</legend>
					<table id="h_table">
						<tr class="g_tr"><!---->
							<td>
								<p>
									<span class="p_cnt">&nbsp;$p_cnt</span><br />
									<span class="u_cnt">$u_cnt</span><br />
									<img class="u_img" src="$u_img" width="8" height="$u_h" alt="$u_cnt" />
									<img class="p_img" src="$p_img" width="8" height="$p_h" alt="$p_cnt" />
								</p>
							</td><!---->
						</tr>
						<tr id="h_n_tr">
							<td id="td0"><p>0</p></td>
							<td><p>1</p></td>
							<td><p>2</p></td>
							<td><p>3</p></td>
							<td><p>4</p></td>
							<td><p>5</p></td>
							<td><p>6</p></td>
							<td><p>7</p></td>
							<td><p>8</p></td>
							<td><p>9</p></td>
							<td><p>10</p></td>
							<td><p>11</p></td>
							<td><p>12</p></td>
							<td><p>13</p></td>
							<td><p>14</p></td>
							<td><p>15</p></td>
							<td><p>16</p></td>
							<td><p>17</p></td>
							<td><p>18</p></td>
							<td><p>19</p></td>
							<td><p>20</p></td>
							<td><p>21</p></td>
							<td><p>22</p></td>
							<td><p>23</p></td>
						</tr>
					</table>$graph_d
				</fieldset>