				<table>
					<colgroup>
						<col id="lm_img" />
						<col id="lm_i" />
						<col id="i" />
						<col id="name" />
						<col id="cnt" />
						<col id="per" />
						<col id="lm_per" />
					</colgroup><!---->
					<tr class="tr$tr">
						<td>$lm_img</td>
						<td>$lm_i /</td>
						<td>$i &nbsp;&nbsp;</td>
						<td class="name">$name</td>
						<td>$cnt /</td>
						<td>$per /</td>
						<td class="$up_down">$lm_per</td>
					</tr><!---->
				</table><!---->
			<nav id="content_all">
				&lt; <a href="$link">全件表示</a> &gt;
			</nav>