				<canvas id="canvas" class="canvas" width="648" height="242"></canvas>
				<script type="text/javascript">
					
					var canvas  = document.getElementById('canvas');
					var v = canvas.getContext('2d');
					
					v.beginPath();
					v.strokeStyle = 'rgb(60,60,255)';
					<!---->
					v.stroke();
					
					v.beginPath();
					v.strokeStyle = 'rgb($color)';
					<!---->
					v.stroke();
					
					v.beginPath();
					v.fillStyle = 'rgb($color)';
					<!---->
					v.stroke();
					
				</script>
