@charset "UTF-8";

/* CSSリセット */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,
audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;
vertical-align:baseline;background:transparent;font-weight:normal;}
body{line-height:1}article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;
font-size:100%;vertical-align:baseline;background:transparent}
del{text-decoration:line-through}abbr[title],dfn[title]
{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;
margin:1em 0;padding:0}input,select{vertical-align:middle}

/*全体ここから*/

*{
font-weight:bold;
}

*html body{
margin:0;
padding:0;
font-size:14px;
}

img{
padding:0px;
margin:0px;
}

h1{
padding:0px;
margin:0px;
font-size:10px;
font-weight:normal;
}

h2{
font-size:21px;
color:#165b27;
}

a{
color:#00005d;
}

img{
border:0px;
}

a:hover{
color:#0000ff;
}

a:hover img{
filter:alpha(opacity=60 style=0);
opacity:0.6;
}

ul,li,dl.dt,dd{
padding:0px;
margin:0px;
}

/*全体ここまで*/

#container{
margin:0 auto;
background-image:url(../images/0back.gif);
background-repeat:repeat-y;
width:1048px;
}

/*wrapperここから*/

#wrapper{
width:979px;
margin:auto;
}

/*wrapperここまで*/


/*headerここまで*/

.header1{
width:471px;
height:135px;
background-image:url(../images/0header1.gif);
float:left;
}

.header2{
width:216px;
height:85px;
padding-top:50px;
background-image:url(../images/0header2.gif);
float:left;
}

.header3{
width:227px;
height:95px;
padding-top:40px;
padding-left:65px;
background-image:url(../images/0header3.gif);
float:left;
}

.tel{
font-size:33px;
}

/*headerここまで*/

/*グローバルナビここから*/

#navi li{
list-style-type: none;
float:left;
}

/*グローバルナビここまで*/

/*catchここまで*/
.catch_left{
width:537px;
height:139px;
padding-top:160px;
padding-left:0px;
background-image:url(../images/0catch_left.gif);
float:left;
}

.catch_left li{
list-style-type: none;
padding-left:15px;
float:left;
}

.catch_right{
width:437px;
height:264px;
padding-top:35px;
padding-left:5px;
background-image:url(../images/0catch_right.gif);
float:left;
}

/*catchここまで*/

/*告知ここから*/
#kokuti{
margin-top:10px;
margin-bottom:10px;
padding:10px;
background-color:#FFFFCC;
font-size:18px;
}

#kokuti span{
font-size:20px;
color:#FF0000;
}
/*告知ここまで*/


/*都道府県バナーここから*/
#todoufuken{
margin-top:10px;
}

/*都道府県バナーここまで*/

/*無料医療相談相談と無料資料請求ここから*/
#muryou_soudan{
margin-top:10px;
width:650px;
height:242px;
float:left;
}

#muryou_soudan_text{
width:404px;
height:147px;
padding-left:246px;
padding-top:69px;
line-height:30px;
background-image:url(../images/0iryousoudan.gif);
}

#muryou_siryou{
margin-top:10px;
width:319px;
height:242px;
float:right;
}

.muryou_siryou_text{
background-image:url(../images/0siryou.gif);
width:279px;
height:36px;
padding-left:40px;
padding-top:180px;
}

/*当院のがん治療～ここから*/
#touin_gan{
margin-top:10px;
padding:10px;
line-height:30px;
background-color:#e6f1ff;
}

.touin_gan_title{
padding-left:10px;
background-color:#FFFFFF;
}

.touin_gan_text{
}

#touin_gan strong{
font-size:21px;
color:#165b27;
}

/*当院のがん治療～ここまで*/


/*左側コンテンツ（当院でのがん免疫細胞治療・当院におけるバナー・院内風景）ここから*/

#contents_left{
width:665px;
padding-top:30px;
padding-left:30px;
float:left;
}

.guest_text{
background-image:url(../images/guest_bar.gif);
background-repeat:repeat-y;
width:665px;
}

.tiryou_banar{
padding-top:10px;
padding-left:50px;
}

.innai_fuukei{
padding-top:30px;
}

/*左側コンテンツ（当院でのがん免疫細胞治療・当院におけるバナー・院内風景）ここまで*/

/*右側コンテンツ（院長紹介などサブメニュー）ここから*/

#contents_right{
width:186px;
padding-top:30px;
padding-right:30px;
float:right;
}

.sub_navi li{
list-style-type: none;
}

/*右側コンテンツ（院長紹介などサブメニュー）ここまで*/

/*中央コンテンツ（NK細胞動画・免疫細胞研究センターここから*/

#contents_center{
width:703px;
margin-left:140px;
margin-top:50px;
}

.douga_sarenai{
padding-top:5px;
padding-bottom:5px;
}

.kenkyu_center{
padding-top:10px;
}

.kenkyu_center_title1{
font-size:20px;
color:#23474f;
}

.kenkyu_center_title2{
font-size:24px;
color:#23474f;
}

.kenkyu_center_link{
margin-top:10px;
}

.kenkyu_center_01{
height:35px;
width:335px;
padding-top:10px;
padding-left:10px;
background-color:#b5d1e9;
float:left;
}

.kenkyu_center_02{
height:35px;
width:335px;
padding-top:10px;
padding-left:10px;
background-color:#b5d1e9;
float:right;
}

/*中央コンテンツ（NK細胞動画・免疫細胞研究センターここまで*/

/*院長コンテンツ（コラムリンク・動画リンクここから*/

#intyou{
margin-top:50px;
padding:20px;
border:solid 1px #438854;
}

.intyou_left{
float:left;
}

.intyou_right{
padding-left:30px;
float:left;
line-height:30px;
}

.kokoro{
padding-top:10px;
}

/*院長コンテンツ（コラムリンク・動画リンクここまで*/

/*当院からのお知らせ　ここから*/

#osirase{
margin-top:30px;
padding:20px;
border:solid 1px #9a9a9a;
}

.osirase_title{
width:300px;
padding-left:190px;
background-image:url(../images/ind-subtitle02-5.jpg);
background-repeat:no-repeat;
}

.osirase_list dt,dd{
float:left;
line-height:30px;
}

.osirase_list dd{
padding-left:10px;
}

/*当院からのお知らせ　ここまで*/


footer{
margin-top:10px;
}

/*footer_left　ここから*/

#footer_left{
width:665px;
float:left;
}

.footer_menu{
    width:680px;
    height:140px;
    padding-top:20px;
    padding-left:200px;
    background-image:url(../images/ind-back.jpg);
    background-position:left;
    background-repeat:no-repeat;
    font-size:17px;
    line-height:30px;
}

.footer_menu li{
list-style-type: none;
}

.list{
width:300px;
float:left;
}

.footer_logo{
height:100px;
width:165px;
padding-top:25px;
padding-left:500px;
background-image:url(../images/0footer_logo.gif);
background-position:left;
background-repeat:no-repeat;
}

.footer_tel{
font-size:24px;
}

.footer_list li{
list-style-type: none;
padding-left:10px;
padding-right:10px;
float:left;
}

/*footer_left　ここまで*/

/*footer_right　ここから*/

#footer_right{
width:186px;
float:right;
}

.renga{
padding-left:20px;
}

.access{
padding-top:10px;
}

/*footer_right　ここまで*/

#footer_bottom{
margin-top:30px;
padding-top:30px;
border-top:solid 1px #000000;
}

.copy{
margin-left:330px;
font-size:12px;
}

/*footer　ここまで*/
