@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');

/* CSS Document */


/*===================================================
    共通CSS（PC/SMP）
===================================================*/


/*////////////////////////////////////////////////////////////
    共通設定
///////////////////////////////////////////////////////////*/


/* --------------------------------------------------
    base
-------------------------------------------------- */

* {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
html,
body {
    width: 100%;
}
body {
    position: relative;
    overflow-x: hidden;
    /*
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 */
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    /*
    font-family: 'Noto Sans Japanese', sans-serif;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    */
    line-height: 2;
    color: #000000;
    font-size: 16px;
    background-color: #ffffff;
    transition: 2s;
}
body.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
}
body.fixed .gnav_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

/*リンク */

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* 画像幅 */

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* clearfix */

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.spBreak {
    display: none;
}
@media (min-width: 1025px) {
    a {
        transition: 0.6s;
    }
    a:hover {
        opacity: 0.6;
    }
}
.contactBox .left,
.contactBox .right {
    width: 570px;
    height: 200px;
}
.contactBox .left {
    border-radius: 10px;
    border: 4px solid #212c45;
    background: #fff;
    text-align: center;
}
.contactBox .left .txt {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    background: #212c45;
    padding: 10px 0;
}
.contactBox .left .tel {
    padding: 10px 0;
}
.contactBox .left .tel .em {
    font-size: 44px;
    color: #212c45;
    padding-left: 40px;
    background: url(/system_panel/uploads/images/icon_tel.png) left center no-repeat;
    background-size: 32px auto;
    display: inline-block;
}
.contactBox .right {
    border-radius: 10px;
    border: 4px solid #769c3e;
    background: #769c3e;
    text-align: center;
}
.contactBox .right .flBox {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 20px 0;
    margin: 10px;
    height: 174px;
}
.contactBox .right .flBox p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.contactBox .right .flBox img {
    width: auto;
}
.contactBox .right .flBox .mailBox {
    width: 55%;
    border-right: 2px solid #fff;
}
.contactBox .right .flBox .mailBox .icon {
    margin-top: 10px;
    margin-bottom: 20px;
}
.contactBox .right .flBox .lineBox {
    width: 45%;
}
.contactBox .right .flBox .lineBox .icon {
    margin-bottom: 16px;
}
#pageTop {
    background: #000;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
#pageTop:hover {
    cursor: pointer;
}
#pageTop p {
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}
#pageTop p span {
    margin-right: 20px;
}
#pageTop p span img {
    width: 63px;
    padding-top: 10px;
}

/* --------------------------------------------------
    header
-------------------------------------------------- */

@media (min-width: 1025px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /*
        padding: 15px 10px;
        */
        z-index: 999;
        /*
        background: #ffffff;
        box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.2);
        */
        height: 110px;
        transition: all .5s;
    }
    .header .headWrap {
        /* overflow: hidden; */
        /* max-width: 1200px; */
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .header .headWrap .desc {
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 22%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
    .header .logo {
        float: left;
        width: 100%;
        max-width: 273px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .header .logo a {
        display: block;
    }
    .header .navBox {
        /* float: right; */
        width: 80%;
        padding-top: 33px;
    }
    .header .humberger {
        display: none;
    }
    .header .menu {
        display: flex;
        /*z-index: 10;*/
        position: absolute;
        right: 0;
    }
    .header .menu p {
        width: 110px;
        height: 110px;
        display: table;
        transition: all .5s;
        font-weight: bold;
    }
    .header .menu p a {
        text-align: center;
        vertical-align: middle;
        font-size: 1.8rem;
        display: table-cell;
        color: #fff;
        font-weight: bold;
        line-height: 1.3
    }
    .header .menu .site {
        background: #eb1428;
    }
    .header .menu .entry {
        background-image: url(/images/btn_h_entry.png);
        background-color: #e5001f;
        width: 180px;
    }
    .header .menu .toggle {
        background: #fff;
        position: relative;
        cursor: pointer;
        z-index: 1000;
    }
    .header .menu .toggle span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 50%;
        margin-left: -22px;
        width: 44px;
        height: 4px;
        background: #26346e;
    }
    .header .menu .toggle span:nth-of-type(1) {
        top: 36%;
    }
    .header .menu .toggle span:nth-of-type(2) {
        top: 50%;
        margin-top: -2px;
    }
    .header .menu .toggle span:nth-of-type(3) {
        bottom: 39%;
    }
    .toggle.active span:nth-of-type(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .toggle.active span:nth-of-type(2) {
        opacity: 0;
    }
    .toggle.active span:nth-of-type(3) {
        transform: translateY(-13px) rotate(-45deg);
    }
    .header.h_active {
        background: rgba(0, 0, 0, 0.5);
    }
}

/* --------------------------------------------------
    nav
-------------------------------------------------- */

@media (min-width: 1025px) {
    .gnavBox {
        display: none;
        height: 100vh;
        padding: 30px 80px;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 700px;
        background: #fff;
        z-index: 10;
        margin-top: 110px;
    }
    /*
    .gnav {
    display: none;
    height: 100vh;
    padding: 80px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 700px;
    background: #fff;
    z-index: 10;
    margin-top: 110px;
    }
    */
    .gnav li a {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2;
        color: #000;
    }
    .gnav>li {
        border-bottom: 1px solid #000;
        padding: 14px 0 14px 10px;
        background: url(/images/nav_arrow.png) center right no-repeat;
        background-size: 11px 18px;
        background-position: right 15px bottom 50%;
    }
    .gnav li>ul {
        padding-top: 5px;
        padding-left: 1.8em;
    }
    .gnav li>ul>li {
        padding: 4px 0;
    }
    .gnav li>ul>li a span {
        font-size: 1.4rem;
    }
    .gnavBox .gnavBottom {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .gnavBox .gnavBottom>p {
        font-size: 32px;
        font-weight: bold;
        color: #2a376e;
        text-align: center;
    }
    .gnavBox .gnavBottom .ul {
        padding: 0 10px;
    }
}
@media (min-width: 1700px) and (max-width: 1890px) {}

/* --------------------------------------------------
    main
-------------------------------------------------- */

.main {
    overflow: hidden;
    /*margin-top: 100px;*/
}
.kv {
    height: 500px;
    text-align: center;
}
.kv .kvTtl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.kv .kvTtl h1 {
    font-size: 110px;
    font-weight: bold;
    color: #2a376e;
    padding-top: 180px;
}
.kv .kvTtl p {
    font-style: italic;
    font-family: Arial;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -20px;
    top: inherit;
    line-height: 39px;
    font-size: 28px;
}
.kv .secTtl .sub::after {
    transform: rotate(45deg);
}
.kv .secTtl {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 320px;
    height: 320px;
}
.secWrap01 {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.secWrap02 {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}
.mapBox {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 35%;
    margin-bottom: 100px;
}
.mapBox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* --------------------------------------------------
    footer
-------------------------------------------------- */

.footer {
    margin-top: 300px;
}
.footer .footBox {
    padding: 60px 0;
    color: #000;
    background: #2a376e;
}
.footer .footWrap {
    max-width: 830px;
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 0 0px;
}
.footer .footWrap .logoBox {
    margin-bottom: 60px;
    justify-content: start;
}
.footer .footBox .logo {
    max-width: 440px;
    margin-left: -20px;
    margin-right: 70px;
}
.footer .footBox .addrBox p,
.footer .footBox .addrBox a {
    color: #fff;
}
.footer .footBox .bnrBox {
    margin-bottom: 40px;
}
.footer .footBox .navBox .ul {
    display: flex;
    justify-content: center;
}
.footer .footBox .navBox .ul .li {
    margin: 0 30px;
}
.footer .footBox .navBox .ul .li a {
    color: #fff;
    text-decoration: underline;
}
.footer .copy {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background: #2a376e;
    color: #fff;
}
@media (min-width: 1025px) and (max-width: 1220px) {
    .footer .left {
        font-size: 15px;
    }
    .footer .right .ul {
        font-size: 15px;
    }
}
@media (min-width: 1024px) {
    .navbox .navList .ul {
        margin-right: 26px;
    }
}
@media(max-width: 768px) {
    .txt {
        /*text-align: left;*/
    }
    .sec01.fadeUp.animated.fadeInUp .txt {
        text-align: left;
    }
}

/* --------------------------------------------------
    fadeAnimation
-------------------------------------------------- */

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
body.fadeout::after {
    opacity: 1;
}
body.fadeout article {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
body {
    animation: fadein 1s forwards;
}
@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}