
				<div class="d">
					<h3>$seq ｜ $a_date ｜ $l_time</h3>
					<p>$ua ｜ $os | $ua_type</p>
					<p>$display_size ｜ $client_size | $ip_address</p>
					<p>$remote_host</p>
					<p class="ua_full">$ua_full</p>
					<p class="referrer">$referrer</p>
					<p class="route">$route</p>
				</div><!---->
			<nav id="content_all">
				<a $prev_link title="前の{$detail_limit}件">&lt;</a>
				<a $all_link>全件表示</a>
				<a $next_link title="次の{$detail_limit}件">&gt;</a>
			</nav><!---->
			<p id="pop"></p>
			<script type="text/javascript" src="$scr_php/popup/"></script>