
			</section>$content_all
		</article>
		<nav id="main_menu">
			<h1>アクセス統計</h1>
			<p>
				<a href="$scr_php/">今日アクセス推移</a>
				<a href="$scr_php/detail/">詳細アクセスログ</a>
			</p>
			<p>
				<a href="$scr_php/graph/daily/">日別アクセス推移</a>
				<a href="$scr_php/search/">詳細ログ条件検索</a>
			</p>
			<p>
				<a href="$scr_php/graph/monthly/">月別アクセス推移</a>
				<a href="$scr_php/param_daily/referrer/">日間パラメータ</a>
			</p>
			<h1>パラメータ統計</h1>
			<p>
				<a href="$scr_php/param/referrer/">リンク元（リファラ）</a>
				<a href="$scr_php/param/click/">リンク先（クリック）</a>
			</p>
			<p>
				<a href="$scr_php/param/page/">アクセスページ</a>
				<a href="$scr_php/param/search_words/">検索キーワード</a>
			</p>
			<p>
				<a href="$scr_php/param/ua/">ブラウザ（UA）</a>
				<a href="$scr_php/param/os/">OS</a>
			</p>
			<p>
				<a href="$scr_php/param/client_size/">ブラウザ表示領域</a>
				<a href="$scr_php/param/display_size/">ディスプレイ解像度</a>
			</p>
			<p>
				<a href="$scr_php/param/visit/">訪問回数</a>
				<a href="$scr_php/param/host_domain/">接続元ドメイン</a>
			</p>
		</nav>
		<footer>
			<p>Copyright (C) 2009-2014 Lunalys Project</p>
		</footer>
	</body>
</html>