				<div id="count_div2">
					<p>
						$sum : $t_u / $t_p
					</p>
					<p>
						$ave : $a_u / $a_p
					</p>
					<p>
						$max
					</p>
				</div><!---->
				<table id="data_div"><!---->
					<tr class="data_p">
						<td class="u_td">$u_cnt /</td>
						<td class="p_td">$p_cnt</td>
						<td class="img_td"><img class="u_img2" src="$scr_dir/templates/img/graph/$bar_color_t/d.png" width="$u_h" height="8" alt="$u_cnt" /></td>
					</tr><!---->
				</table>
				<div id="date_div"><!---->
					<p$class$id>$s</p><!---->
				</div>$graph_d