<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="robots"   content="noindex,nofollow,noarchive" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="$scr_dir/templates/css/sp_style.css" />
		<link rel="stylesheet" type="text/css" href="$scr_dir/templates/css/$act.css" />
		<script type="text/javascript" src="$scr_dir/templates/js/sp_script.js"></script>
		<title>Lunalys</title>
	</head>
	<body>
		<header>
			<h1>
				<a href="$scr_php/jump/http://act.st/" class="out" id="main_title">Lunalys</a>
				<span id="sub_title">- access analysis system -</span>
			</h1>
			<nav id="nav_menu">
				<a href="$scr_php">トップ</a> |
				<a href="#main_menu" class="in">メニュー</a>
			</nav>
		</header>
		<article id="content" class="$act">
			<h2 id="content_header">
				<span class="square1">□</span>
				<span class="square2">□</span>
				<span class="h2">$title</span>
			</h2>$content_date
