@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	共通CSS（SMP）
===================================================*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: $SPfontSize;
  }
  a:hover {
    text-decoration: none;
  }
  /*改行*/
  .pcBreak {
    display: none;
  }
  .spBreak {
    display: block;
  }
  /*spのみ表示*/
  .pcHidden {
    display: block;
  }
  .spHidden {
    display: none;
  }
  #sideBtn {
    display: none;
  }
  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .sideNav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    border-top: 1px solid #ffffff;
    .ul {
      display: flex;
      .li {
        width: 50%;
        a {
          display: block;
          padding: 25px 10px;
          font-size: 12px;
          text-align: center;
          color: #ffffff;
          background: #136134;
        }
      }
      .navRecruit {
        border-right: 1px solid #ffffff;
      }
    }
  }
  .pageKvPanel {
    height: 200px;
    .pageKvTitle {
      padding: 0 20px;
      h1 {
        margin: 0 15px 0 0;
        font-size: 30px;
      }
    }
  }
  .secTitleBox {
    margin: 0 0 40px;
    .secTitle {
      font-size: 26px;
    }
    .subBox {
      .sub {
        font-size: 11px;
      }
    }
  }
  .mapBox {
    padding: 0 0 70%;
  }
  .videoBox {
    padding: 0 0 70%;
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer {
    padding: 40px 0 100px;
    .footPanel {
      .leftBox {
        margin: 0 0 30px;
        text-align: center;
        .logo {
          max-width: 200px;
          margin: 0 auto 15px;
        }
        .txt {
          margin: 0 0 15px;
        }
      }
      .rightBox {
        .btnRecruit {
          max-width: 260px;
          margin: 0 auto 30px;
          a {
            padding: 10px;
            font-size: 16px;
          }
        }
        .copy {
          text-align: center;
        }
      }
    }
  }
}
