@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top .topKvPanel .topKv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 900px;
}
#top .topKvPanel .topKv .kvBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#top .topKvPanel .topKv .kvBox > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: right;
}
#top .topKvPanel .topKv .kv01 {
  background: url(../image/top/top_kv_01.png) center no-repeat;
  background-size: cover;
}
#top .topKvPanel .topKv .kv02 {
  background: url(../image/top/top_kv_02.png) center no-repeat;
  background-size: cover;
}
#top .topKvPanel .topKv .kv03 {
  background: url(../image/top/top_kv_03.png) center no-repeat;
  background-size: cover;
}
#top .topKvPanel .topKv .kvTitle {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}
#top .topKvPanel .topKv .kvTitle h1 {
  font-size: 50px;
  writing-mode: vertical-rl;
}
#top .newsSection {
  padding: 100px 0;
}
#top .newsSection .newsPanel + .newsPanel {
  margin: 100px 0 0;
}
#top .newsSection .newsPanel .newsList ul {
  border-top: 1px solid #dde9eb;
}
#top .newsSection .newsPanel .newsList ul li {
  display: flex;
  padding: 20px 10px;
  line-height: 2;
  border-bottom: 1px solid #dde9eb;
}
#top .newsSection .newsPanel .newsList ul .time {
  width: 120px;
  font-size: 15px;
}
#top .newsSection .newsPanel .newsList ul a {
  display: inline-block;
}
#top .courseSection {
  padding: 100px 0 150px;
}
#top .courseSection .courseContainer {
  padding: 30px;
  border-radius: 10px;
  background: #f0f2f8;
}
#top .courseSection .coursePanel {
  padding: 50px 20px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
#top .courseSection .coursePanel + .coursePanel {
  margin: 30px 0 0;
}
#top .courseSection .coursePanel .panelWrap {
  max-width: 1000px;
  margin: 0 auto;
}
#top .courseSection .coursePanel .title {
  max-width: 770px;
  margin: 0 auto 30px;
  padding: 15px 25px;
  font-size: 26px;
  text-align: center;
  border-top: 1px solid #9ca7bf;
  border-bottom: 1px solid #9ca7bf;
}
#top .courseSection .coursePanel .title + .txt {
  margin: 0 0 30px;
}
#top .courseSection .coursePanel .btnLink {
  max-width: 450px;
  width: 100%;
}
#top .courseSection .coursePanel .btnLink a {
  display: block;
  padding: 25px 10px;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: url("../image/top/top_course_link_arrow.png") right 30px center no-repeat #f0f2f8;
  background-size: 6px auto;
}
#top .courseSection .coursePanel .btnLink a span {
  display: block;
  font-size: 16px;
}
#top .courseSection .coursePanel .linkList {
  margin: 40px 0 0;
}
@media (min-width: 1025px) {
  #top .courseSection .coursePanel .linkList ul {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
  }
  #top .courseSection .coursePanel .linkList ul li {
    width: 49%;
  }
}
#top .courseSection .coursePanel .secBox .txtBox .txt {
  margin: 0 0 30px;
}
#top .courseSection .coursePanel .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
#top .courseSection .coursePanel .secBox .itemBox .chart {
  max-width: 350px;
  margin: 30px auto 0;
}
@media (min-width: 1025px) {
  #top .courseSection .coursePanel .secBox {
    display: flex;
    justify-content: space-between;
  }
  #top .courseSection .coursePanel .secBox .txtBox {
    width: 53%;
  }
  #top .courseSection .coursePanel .secBox .itemBox {
    width: 40%;
  }
}
#top .courseSection .linkPanel {
  margin: 40px 0 0;
}
#top .courseSection .linkPanel ul li:nth-child(1) a {
  background: url("../image/top/top_course_link_img_01.png") center no-repeat;
  background-size: cover;
}
#top .courseSection .linkPanel ul li:nth-child(2) a {
  background: url("../image/top/top_course_link_img_02.png") center no-repeat;
  background-size: cover;
}
#top .courseSection .linkPanel ul li:nth-child(3) a {
  background: url("../image/top/top_course_link_img_03.png") center no-repeat;
  background-size: cover;
}
#top .courseSection .linkPanel ul a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 260px;
}
#top .courseSection .linkPanel ul dl {
  width: 100%;
  max-width: 220px;
  padding: 20px;
  border-radius: 10px 0 0 0;
  background: rgba(255, 255, 255, 0.9);
}
#top .courseSection .linkPanel ul dl dt {
  margin: 0 0 10px;
  font-size: 18px;
}
#top .courseSection .linkPanel ul dl dd {
  font-size: 22px;
}
@media (min-width: 1025px) {
  #top .courseSection .linkPanel ul {
    display: flex;
    justify-content: space-between;
  }
  #top .courseSection .linkPanel ul li {
    width: calc(33.3333333333% - 20px);
  }
}

/*////////////////////////////////////////////////////////////
	nk
///////////////////////////////////////////////////////////*/
#nk .pageKvPanel {
  background: url(../image/nk/nk_kv.png) center no-repeat;
  background-size: cover;
}
#nk .sec01 {
  margin: 0 0 150px;
}
#nk .sec01 .pageSecTtlSub {
  max-width: 600px;
  margin: 0;
}
#nk .sec01 .secBox01 {
  margin: 0 0 40px;
}
#nk .sec01 .secBox01 .txtBox {
  padding: 20px 0 0;
}
#nk .sec01 .secBox01 .txtBox dl {
  margin: 60px 0 0;
}
#nk .sec01 .secBox01 .txtBox dl dt {
  margin: 0 0 10px;
  font-size: 32px;
  font-weight: bold;
}
#nk .sec01 .secBox01 .txtBox dl dd p + p {
  margin: 20px 0 0;
}
#nk .sec01 .secBox02 {
  margin: 0 0 60px;
}
#nk .sec01 .secBox02 .videoPanel aside {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 2;
}
#nk .sec01 .secBox02 .videoPanel aside p {
  color: #3f3f3f;
}
#nk .sec01 .secBox02 .videoPanel aside a {
  display: inline-block;
  text-decoration: underline;
}
#nk .sec01 .message {
  max-width: 680px;
  margin: 60px auto 0;
  padding: 25px 10px;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f0f2f8;
}
@media (min-width: 1025px) {
  #nk .sec01 .secBox01 {
    display: flex;
    justify-content: space-between;
  }
  #nk .sec01 .secBox01 .photo {
    order: 2;
    width: 40%;
  }
  #nk .sec01 .secBox01 .txtBox {
    order: 1;
    width: 55%;
  }
  #nk .sec01 .secBox02 {
    display: flex;
    justify-content: space-between;
  }
  #nk .sec01 .secBox02 .videoPanel {
    width: 45%;
  }
  #nk .sec01 .secBox02 .txtBox {
    width: 50%;
  }
}
#nk .sec02 {
  margin: 0 0 150px;
}
#nk .sec02 .secBox {
  margin: 0 0 40px;
}
#nk .sec02 .secBox .txtBox p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  #nk .sec02 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #nk .sec02 .secBox .photo {
    order: 2;
    width: 25%;
  }
  #nk .sec02 .secBox .txtBox {
    order: 1;
    width: 65%;
  }
}
#nk .sec02 .chart {
  max-width: 600px;
  margin: 0 auto;
}
#nk .sec03 {
  margin: 0 0 150px;
}
#nk .sec03 .secBox {
  margin: 50px 0;
}
#nk .sec03 .secBox .chartPanel .chart {
  max-width: 280px;
  margin: 0 auto;
}
#nk .sec03 .secBox .videoPanel aside {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 2;
}
#nk .sec03 .secBox .videoPanel aside p {
  color: #3f3f3f;
}
#nk .sec03 .secBox .videoPanel aside a {
  display: inline-block;
  text-decoration: underline;
}
@media (min-width: 1025px) {
  #nk .sec03 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #nk .sec03 .secBox > * {
    width: 50%;
    padding: 0 30px;
  }
}
#nk .sec04 {
  margin: 0 0 150px;
}
#nk .sec04 .txt {
  margin: 0 0 40px;
}
#nk .sec04 ol {
  line-height: 2;
  counter-reset: item;
}
#nk .sec04 ol li {
  position: relative;
  padding: 0 0 0 1.3em;
}
#nk .sec04 ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  top: 0;
  left: 0;
}
#nk .sec05 {
  margin: 0 0 150px;
}
#nk .sec05 .innerSection {
  padding: 20px 0 0;
}
#nk .sec05 .secTtl {
  position: relative;
  margin: 0 0 40px;
  font-size: 26px;
}
#nk .sec05 .secTtl::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 380px);
  height: 1px;
  margin: auto 0;
  background: #113b7a;
}
#nk .sec05 .secTtl h3 {
  display: inline-block;
}
#nk .sec05 .secBox .chartBox .chart {
  max-width: 250px;
  margin: 0 auto;
}
#nk .sec05 .secBox .txtBox p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  #nk .sec05 .secBox {
    display: flex;
    justify-content: space-between;
  }
  #nk .sec05 .secBox .chartBox {
    order: 2;
    width: 30%;
  }
  #nk .sec05 .secBox .txtBox {
    order: 1;
    width: 65%;
  }
}
#nk .sec06 {
  margin: 0 0 150px;
}
#nk .sec06 .txt p + p {
  margin: 30px 0 0;
}

/*////////////////////////////////////////////////////////////
	schedule
///////////////////////////////////////////////////////////*/
#schedule .pageKvPanel {
  background: url(../image/schedule/schedule_kv.png) center no-repeat;
  background-size: cover;
}
#schedule .sec01 .secBox .txtBox p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  #schedule .sec01 .secBox {
    display: flex;
    justify-content: space-between;
  }
  #schedule .sec01 .secBox .txtBox {
    width: 38%;
  }
  #schedule .sec01 .secBox .chartBox {
    width: 58%;
  }
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
#flow .pageKvPanel {
  background: url(../image/flow/flow_kv.png) center no-repeat;
  background-size: cover;
}
#flow .reserveTtl {
  max-width: 750px;
  margin: 0 auto 100px;
  padding: 30px 10px;
  font-size: 22px;
  color: #7a1111;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #8f4747;
}
#flow .stepContainer .stepBox + .stepBox {
  margin: 100px 0 0;
}
#flow .stepContainer .stepBox .stepTitleBox {
  display: flex;
  align-items: center;
  margin: 0 0 50px;
  padding: 20px 30px;
  border-top: 1px solid #9ca7bf;
  border-bottom: 1px solid #9ca7bf;
}
#flow .stepContainer .stepBox .stepTitleBox .step {
  width: 180px;
  font-size: 30px;
}
#flow .stepContainer .stepBox .stepTitleBox .title {
  font-size: 26px;
}
#flow .stepContainer .stepBox .telBox {
  max-width: 480px;
}
#flow .stepContainer .stepBox .telBox a {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f8f9fd;
}
#flow .stepContainer .stepBox .telBox dl {
  display: flex;
  align-items: center;
  min-height: 100px;
}
#flow .stepContainer .stepBox .telBox dl dt {
  position: relative;
  width: 120px;
  margin: 0 20px 0 0;
  text-align: center;
}
#flow .stepContainer .stepBox .telBox dl dt:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 50px;
  margin: 0 auto;
  background: #d3d6df;
}
#flow .stepContainer .stepBox .telBox dl dt em {
  display: block;
  font-size: 23px;
}
#flow .stepContainer .stepBox .telBox dl dd .tel {
  padding: 0 0 0 40px;
  font-size: 30px;
  background: url("../image/common/footer_contact_tel.png") left center no-repeat;
  background-size: 28px auto;
}
#flow .stepContainer .stepBox .telBox dl dd .attention {
  font-size: 14px;
  letter-spacing: 0;
}
#flow .stepContainer .stepBox .secBox .docBox {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f8f9fd;
}
#flow .stepContainer .stepBox .secBox .docBox dl dt {
  margin: 0 0 30px;
}
#flow .stepContainer .stepBox .secBox .docBox dl dt em {
  display: block;
  font-size: 22px;
}
#flow .stepContainer .stepBox .secBox .docBox dl dt span {
  font-size: 16px;
}
#flow .stepContainer .stepBox .secBox .docBox dl ol {
  line-height: 2;
  counter-reset: item;
}
#flow .stepContainer .stepBox .secBox .docBox dl ol li {
  position: relative;
  padding: 0 0 0 1.3em;
}
#flow .stepContainer .stepBox .secBox .docBox dl ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1025px) {
  #flow .stepContainer .stepBox .secBox {
    display: flex;
    justify-content: space-between;
  }
  #flow .stepContainer .stepBox .secBox .txtBox {
    width: 52%;
  }
  #flow .stepContainer .stepBox .secBox .docBox {
    width: 43%;
  }
}

/*////////////////////////////////////////////////////////////
	results
///////////////////////////////////////////////////////////*/
#results .pageKvPanel {
  background: url(../image/results/results_kv.png) center no-repeat;
  background-size: cover;
}
#results .topPanel {
  margin: 0 0 150px;
}
#results .topPanel .txt {
  margin: 0 0 60px;
}
#results .topPanel .chart {
  max-width: 650px;
  margin: 0 auto;
}
#results .topSection {
  margin: 0 0 150px;
}
#results .topSection .topContainer {
  margin: 0 0 100px;
}
#results .topSection .topContainer .topTxt {
  margin: 0 0 20px;
}
#results .topSection .topContainer .linkList {
  margin: 0 0 25px;
  padding: 20px;
  border-radius: 10px;
  background: #f0f2f8;
}
#results .topSection .topContainer .linkList ul {
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0 0 -15px;
}
#results .topSection .topContainer .linkList ul li {
  width: calc(16.6666666667% - 15px);
  margin: 15px 0 0 15px;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
@media (min-width: 1025px) {
  #results .topSection .topContainer .linkList ul li {
    transition: 0.6s;
  }
  #results .topSection .topContainer .linkList ul li:hover {
    opacity: 0.6;
  }
}
#results .topSection .topContainer aside {
  padding: 30px 60px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f1f1f1;
}
#results .topSection .topContainer aside dl {
  color: #3f3f3f;
}
#results .topSection .topContainer aside dl dt {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}
#results .topSection .topContainer aside dl dd {
  font-size: 15px;
}
#results .topSection .listContainer {
  padding: 30px;
  border-radius: 10px;
  background: #f0f2f8;
}
#results .topSection .listSection + .listSection {
  margin: 45px 0 0;
}
#results .topSection .listSection .listPanel {
  padding: 45px 10px;
  border-radius: 10px;
  background: #ffffff;
}
#results .topSection .listSection .listPanel .inner {
  max-width: 1000px;
  margin: 0 auto;
}
#results .topSection .listSection .listPanel .listTitle {
  margin: 0 0 40px;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  border-top: 1px solid #9ca7bf;
  border-bottom: 1px solid #9ca7bf;
}
#results .topSection .listSection .backTop {
  margin: 10px 0 0;
  text-align: right;
}
#results .topSection .listSection .backTop p {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}
#results .topSection .listSection .commentBox {
  margin: 30px 0 0;
}
#results .topSection .listSection .chartListBox {
  margin: 50px 0 0;
}
#results .topSection .listSection .chartListBox dl dt {
  margin: 0 0 10px;
}
#results .topSection .listSection .chartListBox dl dt span {
  font-size: 14px;
  color: #3f3f3f;
}
#results .topSection .listSection .chartListBox dl dd > p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #3f3f3f;
}
#results .topSection .listSection .chartListBox .chartTable {
  max-width: 400px;
}
#results .topSection .listSection .chartListBox .chartTable table {
  width: 100%;
  color: #3f3f3f;
  border-top: 1px solid #d6d6e2;
}
#results .topSection .listSection .chartListBox .chartTable table tr {
  border-bottom: 1px solid #d6d6e2;
}
#results .topSection .listSection .chartListBox .chartTable table tr th,
#results .topSection .listSection .chartListBox .chartTable table tr td {
  width: 50%;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #d6d6e2;
}
#results .topSection .listSection .chartListBox .chartTable table tr th {
  border-left: 1px solid #d6d6e2;
  background: #f2f4f5;
}
#results .topSection .listSection .chartListBox .chartTable table tr td p {
  display: inline-block;
  min-width: 100px;
  text-align: left;
}
#results .topSection .listSection .chartListBox .chartTable table tr:nth-child(even) th {
  background: #f9fafb;
}
#results .topSection .listSection .progressChart {
  margin: 50px 0 40px;
}
#results .topSection .listSection .progressChart p {
  margin: 0 0 5px;
}
#results .topSection .listSection .progressChart .chart {
  max-width: 500px;
}
@media (min-width: 1025px) {
  #results .topSection .listSection .beforeAfterBox {
    display: flex;
    justify-content: space-between;
  }
  #results .topSection .listSection .beforeAfterBox .leftBox {
    width: 48%;
  }
  #results .topSection .listSection .beforeAfterBox .leftBox ul {
    display: flex;
    justify-content: space-between;
  }
  #results .topSection .listSection .beforeAfterBox .leftBox ul + ul {
    margin: 15px 0 0;
  }
  #results .topSection .listSection .beforeAfterBox .leftBox ul li {
    width: calc(50% - 15px);
  }
  #results .topSection .listSection .beforeAfterBox .leftBox ul li + li .img {
    position: relative;
  }
  #results .topSection .listSection .beforeAfterBox .leftBox ul li + li .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -22px;
    bottom: 0;
    width: 15px;
    height: 16px;
    margin: auto 0;
    background: url("../image/results/results_list_arrow_right.png") no-repeat;
    background-size: 100% auto;
  }
  #results .topSection .listSection .beforeAfterBox .leftBox ul li p {
    margin: 5px 0 0;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
  }
  #results .topSection .listSection .beforeAfterBox .rightBox {
    width: 46%;
  }
  #results .topSection .listSection .chartListBox {
    display: flex;
    justify-content: space-between;
  }
  #results .topSection .listSection .chartListBox.col2 > * {
    width: 50%;
  }
  #results .topSection .listSection .chartListBox.col3 > * {
    width: 33%;
  }
  #results .topSection .listSection .chartListBox.col3 .chartTable {
    max-width: 260px;
  }
  #results .topSection .listSection .backTop p {
    transition: 0.6s;
  }
  #results .topSection .listSection .backTop p:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}
#results .otherTxtBox {
  padding: 20px 40px;
  font-size: 15px;
  color: #3f3f3f;
  border-radius: 10px;
  border: 1px solid #d3d6df;
}

/*////////////////////////////////////////////////////////////
	network
///////////////////////////////////////////////////////////*/
#network .pageKvPanel {
  background: url(../image/network/network_kv.png) center no-repeat;
  background-size: cover;
}
#network .topPanel {
  margin: 0 0 100px;
}
#network .topPanel .txt p + p {
  margin: 30px 0 0;
}
#network .sec01 {
  margin: 0 0 150px;
}
#network .sec01 .topTxt {
  margin: 0 0 60px;
}
#network .sec01 .innerSection .secTtl {
  position: relative;
  margin: 0 0 40px;
  font-size: 26px;
}
#network .sec01 .innerSection .secTtl::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 620px);
  height: 1px;
  margin: auto 0;
  background: #113b7a;
}
#network .sec01 .innerSection .secTtl h3 {
  display: inline-block;
}
#network .sec01 .faqPanel {
  padding: 10px 40px;
  border-radius: 10px;
  background: #f0f2f8;
}
#network .sec01 .faqPanel dl dt,
#network .sec01 .faqPanel dl dd {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
#network .sec01 .faqPanel dl dt em,
#network .sec01 .faqPanel dl dd em {
  margin: 0 20px 0 0;
  font-size: 40px;
}
#network .sec01 .faqPanel dl dt span,
#network .sec01 .faqPanel dl dd span {
  line-height: 2;
}
#network .sec01 .faqPanel dl dt {
  border-bottom: 1px solid #d5d9e6;
}
#network .sec02 .topTxt {
  margin: 0 0 60px;
}
#network .sec02 .listPanel {
  margin: -50px 0 0;
}
#network .sec02 .listPanel .listBox {
  margin: 50px 0 0;
}
#network .sec02 .listPanel .listBox h3 {
  position: relative;
  margin: 0 0 40px;
  font-size: 26px;
}
#network .sec02 .listPanel .listBox h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto 0;
  background: #113b7a;
}
#network .sec02 .listPanel .listBox h3 span {
  position: relative;
  display: inline-block;
  padding: 0 50px 0 0;
  background: #ffffff;
}
#network .sec02 .listPanel .listBox .infoBox {
  padding: 20px 30px;
  border-radius: 10px;
  background: #f0f2f8;
}
#network .sec02 .listPanel .listBox .infoBox dl {
  line-height: 2;
}
#network .sec02 .listPanel .listBox .infoBox dl + dl {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  #network .sec02 .listPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #network .sec02 .listPanel > * {
    width: 48%;
  }
}

/*////////////////////////////////////////////////////////////
	vitamin
///////////////////////////////////////////////////////////*/
#vitamin .pageKvPanel {
  background: url(../image/vitamin/vitamin_kv.png) center no-repeat;
  background-size: cover;
}
#vitamin .sec01 {
  margin: 0 0 150px;
}
#vitamin .sec01 .topTitle {
  margin: 0 0 60px;
  font-size: 32px;
  font-weight: bold;
  color: #3f3f3f;
  text-align: center;
  letter-spacing: 0;
}
#vitamin .sec01 .secBox .photoBox {
  font-size: 15px;
  color: #3f3f3f;
  line-height: 1.7;
}
#vitamin .sec01 .secBox .photoBox .photo {
  margin: 0 0 15px;
}
#vitamin .sec01 .secBox .photoBox .txt01 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #aaaaaa;
}
#vitamin .sec01 .secBox .txtBox {
  padding: 20px 0 0;
}
#vitamin .sec01 .secBox .txtBox p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  #vitamin .sec01 .secBox {
    display: flex;
    justify-content: space-between;
  }
  #vitamin .sec01 .secBox .photoBox {
    width: 45%;
  }
  #vitamin .sec01 .secBox .txtBox {
    width: 50%;
  }
}
#vitamin .sec02 {
  margin: 0 0 150px;
}
#vitamin .sec02 .txt p + p {
  margin: 30px 0 0;
}
#vitamin .sec02 .secBoxList {
  margin: 0 0 80px;
}
#vitamin .sec02 .secBox + .secBox {
  margin: 60px 0 0;
}
@media (min-width: 1025px) {
  #vitamin .sec02 .secBox {
    display: flex;
    justify-content: space-between;
  }
  #vitamin .sec02 .secBox .photo {
    width: 45%;
  }
  #vitamin .sec02 .secBox .txtBox {
    width: 50%;
  }
  #vitamin .sec02 .secBox:nth-child(odd) .photo {
    order: 2;
  }
  #vitamin .sec02 .secBox:nth-child(odd) .txtBox {
    order: 1;
  }
}
#vitamin .sec03 .txt {
  margin: 0 0 100px;
}
#vitamin .sec03 .txt p + p {
  margin: 30px 0 0;
}
#vitamin .sec03 .message {
  max-width: 680px;
  margin: 0 auto;
  padding: 25px 10px;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f0f2f8;
}

/*////////////////////////////////////////////////////////////
	faq
///////////////////////////////////////////////////////////*/
#faq .pageKvPanel {
  background: url(../image/faq/faq_kv.png) center no-repeat;
  background-size: cover;
}
#faq .topContainer {
  margin: 0 0 200px;
}
#faq .topContainer .topTitle {
  margin: 0 0 30px;
  font-size: 32px;
  font-weight: bold;
  color: #3f3f3f;
  text-align: center;
  letter-spacing: 0;
}
#faq .topContainer .linkList {
  padding: 20px 60px;
  border-radius: 10px;
  background: #f0f2f8;
}
#faq .topContainer .linkList ul {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -40px;
}
#faq .topContainer .linkList ul li {
  width: calc(33.3333333333% - 40px);
  margin: 20px 0 0 40px;
  padding: 20px 10px 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
#faq .topContainer .linkList ul li span {
  display: inline-block;
  padding: 0 0 15px;
  background: url("../image/faq/faq_btn_arrow.png") center bottom no-repeat;
}
@media (min-width: 1025px) {
  #faq .topContainer .linkList ul li {
    transition: 0.6s;
  }
  #faq .topContainer .linkList ul li:hover {
    opacity: 0.6;
  }
}
#faq .listSection + .listSection {
  margin: 150px 0 0;
}
#faq .listSection .faqBox dl dt {
  display: flex;
  align-items: center;
  padding: 15px 50px 15px 0;
  cursor: pointer;
  background: url("../image/faq/faq_accord_plus.png") right 40px center no-repeat;
  background-size: 14px auto;
}
#faq .listSection .faqBox dl dt.active {
  background: url("../image/faq/faq_accord_minus.png") right 40px center no-repeat;
  background-size: 6px auto;
}
#faq .listSection .faqBox dl dt em {
  margin: 0 20px 0 0;
  font-size: 30px;
}
#faq .listSection .faqBox dl dt span {
  font-size: 22px;
}
#faq .listSection .faqBox dl dt {
  border-bottom: 1px solid #d5d9e6;
}
#faq .listSection .faqBox dl dd {
  display: none;
  padding: 20px 0 50px;
}
#faq .listSection .faqBox dl dd a {
  display: inline-block;
  text-decoration: underline;
}

/*////////////////////////////////////////////////////////////
	price
///////////////////////////////////////////////////////////*/
#price .pageKvPanel {
  background: url(../image/price/price_kv.png) center no-repeat;
  background-size: cover;
}
#price .sec01,
#price .sec02 {
  margin: 0 0 150px;
}
#price .sec01 .topTitle,
#price .sec02 .topTitle {
  margin: 0 0 100px;
  font-size: 32px;
  font-weight: bold;
  color: #3f3f3f;
  text-align: center;
  letter-spacing: 0;
}
#price .sec01 .pageSecTtlSub,
#price .sec02 .pageSecTtlSub {
  margin: 0 auto 10px;
}
#price .sec01 .pageSecTtlSub + p,
#price .sec02 .pageSecTtlSub + p {
  margin: 0 0 60px;
  color: #3f3f3f;
  text-align: center;
}
#price .sec01 .priceList,
#price .sec02 .priceList {
  margin: 0 0 50px;
}
#price .sec01 .priceList ul li,
#price .sec02 .priceList ul li {
  padding: 0 0 10px;
  border-bottom: 1px solid #c6cbd5;
}
#price .sec01 .priceList ul li + li,
#price .sec02 .priceList ul li + li {
  margin: 30px 0 0;
}
#price .sec01 .priceList ul li dl,
#price .sec02 .priceList ul li dl {
  display: flex;
  justify-content: space-between;
}
#price .sec01 .priceList ul li dl dt,
#price .sec02 .priceList ul li dl dt {
  font-size: 20px;
}
#price .sec01 .expBox,
#price .sec02 .expBox {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f8f9fd;
}
#price .sec01 .expBox .inner,
#price .sec02 .expBox .inner {
  display: flex;
  justify-content: space-between;
}
#price .sec01 .expBox .inner dl,
#price .sec02 .expBox .inner dl {
  width: 48%;
}
#price .sec01 .expBox .inner dl:nth-child(1),
#price .sec02 .expBox .inner dl:nth-child(1) {
  border-right: 1px solid #d3d6df;
}
#price .sec01 .expBox .inner dl:nth-child(2),
#price .sec02 .expBox .inner dl:nth-child(2) {
  width: 48%;
}
#price .sec01 .expBox .inner dl dt,
#price .sec02 .expBox .inner dl dt {
  margin: 0 0 15px;
  font-size: 20px;
}
#price .sec01 .expBox .inner dl dd,
#price .sec02 .expBox .inner dl dd {
  line-height: 2;
}
#price .sectionContainer {
  margin: 0 0 150px;
}
#price .sectionContainer .pageSecTtlSub {
  margin: 0 auto 20px;
}
#price .sectionContainer .credit {
  max-width: 400px;
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  #price .sectionContainer {
    display: flex;
    justify-content: space-between;
  }
  #price .sectionContainer > * {
    width: 48%;
  }
}
#price .sec05 .pageSecTtlSub {
  margin: 0 auto 10px;
}
#price .sec05 .pageSecTtlSub + p {
  margin: 0 0 60px;
  color: #3f3f3f;
  text-align: center;
}
#price .sec05 .innerSection + .innerSection {
  margin: 80px 0 0;
}
#price .sec05 .innerSection .secTtl {
  position: relative;
  margin: 0 0 30px;
  font-size: 26px;
}
#price .sec05 .innerSection .secTtl::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto 0;
  background: #113b7a;
}
#price .sec05 .innerSection .secTtl h3 {
  position: relative;
  display: inline-block;
  padding: 0 60px 0 0;
  background: #ffffff;
}
#price .sec05 .innerSection .pricePanel {
  padding: 30px 40px 60px;
  border-radius: 10px;
  border: 1px solid #d6d6e2;
}
#price .sec05 .innerSection .priceList {
  margin: 0 0 50px;
}
#price .sec05 .innerSection .priceList ul li {
  padding: 0 0 10px;
  border-bottom: 1px solid #c6cbd5;
}
#price .sec05 .innerSection .priceList ul li dl {
  display: flex;
  justify-content: space-between;
}
#price .sec05 .innerSection .priceList ul li dl dt {
  font-size: 20px;
}
@media (min-width: 1025px) {
  #price .sec05 .innerSection .priceList ul {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0 0 -50px;
  }
  #price .sec05 .innerSection .priceList ul li {
    width: calc(50% - 50px);
    margin: 30px 0 0 50px;
  }
}
#price .sec05 .innerSection .totalBox {
  max-width: 550px;
  margin: 0 auto;
}
#price .sec05 .innerSection .totalBox dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 2px;
  border-bottom: 1px solid #c6cbd5;
}
#price .sec05 .innerSection .totalBox dl dt {
  font-size: 24px;
}

/*////////////////////////////////////////////////////////////
	profile
///////////////////////////////////////////////////////////*/
#profile .pageKvPanel {
  background: url(../image/profile/profile_kv.png) center no-repeat;
  background-size: cover;
}
#profile .topContainer {
  margin: 0 0 200px;
}
#profile .topContainer .topTitle {
  margin: 0 0 30px;
  font-size: 32px;
  font-weight: bold;
  color: #3f3f3f;
  text-align: center;
  letter-spacing: 0;
}
#profile .topContainer .linkList {
  padding: 20px 60px;
  border-radius: 10px;
  background: #f0f2f8;
}
#profile .topContainer .linkList ul {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -40px;
}
#profile .topContainer .linkList ul li {
  width: calc(33.3333333333% - 40px);
  margin: 20px 0 0 40px;
  padding: 20px 10px 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
#profile .topContainer .linkList ul li span {
  display: inline-block;
  padding: 0 0 15px;
  background: url("../image/profile/profile_btn_arrow.png") center bottom no-repeat;
}
@media (min-width: 1025px) {
  #profile .topContainer .linkList ul li {
    transition: 0.6s;
  }
  #profile .topContainer .linkList ul li:hover {
    opacity: 0.6;
  }
}
#profile .infoBox dl {
  display: flex;
  line-height: 2;
}
#profile .infoBox dl + dl {
  margin: 10px 0 0;
}
#profile .infoBox dl dt {
  width: 80px;
}
#profile .specialty {
  margin: 10px 0 0;
}
#profile .specialty dl {
  line-height: 2;
}
#profile .specialty dl dd {
  padding: 0 0 0 80px;
}
#profile .commentBox {
  margin: 30px 0 0;
  padding: 20px;
  border-radius: 10px;
  background: #f0f2f8;
}
#profile .sec01 .secBox .photoBox .photo,
#profile .sec04 .secBox .photoBox .photo {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  #profile .sec01 .secBox,
#profile .sec04 .secBox {
    display: flex;
    justify-content: space-between;
  }
  #profile .sec01 .secBox .photoBox,
#profile .sec04 .secBox .photoBox {
    width: 50%;
  }
  #profile .sec01 .secBox .txtBox,
#profile .sec04 .secBox .txtBox {
    width: 50%;
  }
}
#profile .sec01 {
  margin: 0 0 150px;
}
#profile .sectionContainer {
  margin: 0 0 150px;
}
#profile .topBook {
  line-height: 2;
}
#profile .topBook dl dt {
  margin: 0 0 10px;
}
#profile .topBook .book {
  max-width: 200px;
}
#profile .topBook .txt {
  margin: 20px 0 0;
}
#profile .topBook .txt span {
  display: block;
  font-size: 14px;
}
#profile .bookList {
  margin: 60px 0 0;
}
#profile .bookList ul li {
  display: inline-block;
  margin: 0 100px 0 0;
  vertical-align: top;
}
#profile .bookList .book {
  width: 160px;
}
#profile .bookList .txt {
  margin: 20px 0 0;
}
#profile .bookList .txt span {
  display: block;
  font-size: 14px;
}
@media (min-width: 1025px) {
  #profile .sectionContainer {
    display: flex;
    justify-content: space-between;
  }
  #profile .sectionContainer > * {
    width: 48%;
  }
}

/*////////////////////////////////////////////////////////////
	sitemap
///////////////////////////////////////////////////////////*/
#sitemap .pageKvPanel {
  background: url(../image/sitemap/sitemap_kv.png) center no-repeat;
  background-size: cover;
}
#sitemap .sitemapContainer .sitemapPanel a {
  display: inline-block;
  text-decoration: underline;
}
#sitemap .sitemapContainer .sitemapBox {
  padding: 40px;
}
#sitemap .sitemapContainer .sitemapBox + .sitemapBox {
  border-top: 1px solid #9ca7bf;
}
#sitemap .sitemapContainer .sitemapBox dl dt {
  margin: 0 0 20px;
}
#sitemap .sitemapContainer .sitemapBox dl dd {
  padding: 0 0 0 20px;
}
#sitemap .sitemapContainer .sitemapBox ul li + li {
  margin: 10px 0 0;
}
@media (min-width: 1025px) {
  #sitemap .sitemapContainer {
    display: flex;
    justify-content: space-between;
  }
  #sitemap .sitemapContainer > * {
    width: 46%;
  }
}

/*////////////////////////////////////////////////////////////
	request
///////////////////////////////////////////////////////////*/
#request .pageKvPanel {
  background: url(../image/request/request_kv.png) center no-repeat;
  background-size: cover;
}
#request .sec01 {
  margin: 0 0 80px;
}
#request .sec02 {
  margin: 0 0 150px;
  padding: 40px;
  border-radius: 10px;
  background: #f0f2f8;
}
#request .sec02 .secContainer {
  padding: 40px 60px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
#request .sec02 .txt {
  margin: 0 0 30px;
}
#request .sec02 .telBox {
  max-width: 480px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #d3d6df;
}
#request .sec02 .telBox dl {
  text-align: center;
}
#request .sec02 .telBox dl dt {
  padding: 10px;
  font-size: 22px;
  background: #f8f9fd;
}
#request .sec02 .telBox dl dd {
  padding: 20px 10px;
}
#request .sec02 .telBox dl dd .tel a {
  display: inline-block;
  padding: 0 0 0 40px;
  font-size: 30px;
  background: url("../image/common/footer_contact_tel.png") left center no-repeat;
  background-size: 28px auto;
}
#request .sec02 .telBox dl dd .attention {
  display: inline-block;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0;
}
#request .sec03 .topTxt {
  margin: 0 0 60px;
  text-align: center;
}
#request .formBox form > dl {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #dde9eb;
}
#request .formBox form > dl dt {
  display: flex;
  align-items: center;
  width: 300px;
  font-weight: bold;
}
#request .formBox form > dl dt span {
  margin: 0 15px 0 0;
}
#request .formBox form > dl dt em {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 6px;
  background: #f2f4f5;
}
#request .formBox form > dl dd {
  width: calc(100% - 300px);
}
#request .formBox .msg dt {
  align-items: flex-start;
  padding: 20px 0 0;
}
#request .formBox .postal .inputBox {
  display: inline-block;
  width: 130px;
}
#request .formBox .postal .inputBox + span {
  display: inline-block;
  margin: 0 10px;
}
#request .formBox .wpcf7-form-control-wrap {
  position: relative;
}
#request .formBox .wpcf7-not-valid-tip {
  padding: 0 0 5px 25px;
}
#request .formBox .wpcf7-response-output {
  font-weight: bold;
  text-align: center;
  border: none;
}
#request .formBox .privacy {
  margin: 30px 0 50px;
}
#request .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 400px;
  padding: 40px;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #f8f9fd;
}
#request .formBox .privacy .box + .box {
  margin: 40px 0 0;
}
#request .formBox .privacy dl dt {
  margin: 0 0 5px;
  font-weight: bold;
}
#request .formBox .privacy span {
  display: block;
}
#request .formBox .privacy a {
  display: inline-block;
}

/* --------------------------------------------------
	form
-------------------------------------------------- */
.formBox {
  /*テキストエリア*/
}
.formBox input[type=text],
.formBox input[type=email],
.formBox input[type=tel] {
  width: 100%;
  height: 60px;
  padding-left: 25px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formBox textarea {
  width: 100%;
  height: 180px;
  padding: 20px 25px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
  resize: none;
}
.formBox ::placeholder {
  color: #000000;
  opacity: 0.3;
}
.formBox input[type=submit] {
  display: block;
  width: 300px;
  height: 60px;
  margin: 100px auto 0;
  padding: 15px 10px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 18px;
  color: #113b7a;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: url("../image/common/footer_btn_arrow.png") right 20px center no-repeat #f8f9fd;
  background-size: 8px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.4s;
}
.formBox input[type=submit][disabled] {
  cursor: default;
  opacity: 0.1;
}
.formBox .checkItem {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 0 15px;
  text-align: center;
}
.formBox .checkItem > label {
  position: relative;
  display: block;
}
.formBox .checkItem input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.formBox .checkItem span {
  display: block;
  padding-left: 50px;
  position: relative;
}
.formBox .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto 0;
  border-radius: 10px;
  border: 2px solid #eef0f1;
  background: #eef0f1;
}
.formBox .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 10px;
  height: 16px;
  transform: rotate(40deg);
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
}
.formBox .checkItem.agreeCheck > label {
  display: inline-block;
}

/*////////////////////////////////////////////////////////////
	cpc
///////////////////////////////////////////////////////////*/
#cpc .pageKvPanel {
  background: url(../image/cpc/cpc_kv.png) center no-repeat;
  background-size: cover;
}
#cpc .sec01 {
  padding: 40px;
  border-radius: 10px;
  background: #f0f2f8;
}
#cpc .sec01 .secContainer {
  padding: 60px 60px 200px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
#cpc .sec01 .photo {
  margin: 0 0 40px;
}
#cpc .sec01 .txt p + p {
  margin: 30px 0 0;
}

/*////////////////////////////////////////////////////////////
	access
///////////////////////////////////////////////////////////*/
#access .pageKvPanel {
  background: url(../image/access/access_kv.png) center no-repeat;
  background-size: cover;
}
#access .topSection {
  margin: 0 0 150px;
}
#access .topSection .topTitle {
  margin: 0 0 60px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#access .topSection .secBox .txtBox .imgMap {
  max-width: 480px;
  margin: 0 auto 40px;
}
#access .topSection .secBox .txtBox .txt {
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
}
@media (min-width: 1025px) {
  #access .topSection .secBox {
    display: flex;
    justify-content: space-between;
  }
  #access .topSection .secBox .mapBox {
    width: 50%;
  }
  #access .topSection .secBox .txtBox {
    width: 46%;
  }
}
#access .secListContainer .linkList {
  margin: 0 0 100px;
  padding: 20px 60px;
  border-radius: 10px;
  background: #f0f2f8;
}
#access .secListContainer .linkList ul {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -40px;
}
#access .secListContainer .linkList ul li {
  width: calc(33.3333333333% - 40px);
  margin: 20px 0 0 40px;
  padding: 20px 10px 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #d3d6df;
  background: #ffffff;
}
#access .secListContainer .linkList ul li span {
  display: inline-block;
  padding: 0 0 15px;
  background: url("../image/profile/profile_btn_arrow.png") center bottom no-repeat;
}
@media (min-width: 1025px) {
  #access .secListContainer .linkList ul li {
    transition: 0.6s;
  }
  #access .secListContainer .linkList ul li:hover {
    opacity: 0.6;
  }
}
#access .secListContainer .section + .section {
  margin: 100px 0 0;
}
#access .secListContainer .section .secTtl {
  position: relative;
  margin: 0 0 30px;
  font-size: 26px;
}
#access .secListContainer .section .secTtl::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto 0;
  background: #113b7a;
}
#access .secListContainer .section .secTtl h3 {
  position: relative;
  display: inline-block;
  padding: 0 60px 0 0;
  background: #ffffff;
}
#access .secListContainer .sec01 .secBox .txtBox,
#access .secListContainer .sec02 .secBox .txtBox {
  padding: 60px 0 0;
}
#access .secListContainer .sec01 .secBox .txtBox .txt,
#access .secListContainer .sec02 .secBox .txtBox .txt {
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
}
@media (min-width: 1025px) {
  #access .secListContainer .sec01 .secBox,
#access .secListContainer .sec02 .secBox {
    display: flex;
    justify-content: space-between;
  }
  #access .secListContainer .sec01 .secBox .map,
#access .secListContainer .sec02 .secBox .map {
    width: 55%;
  }
  #access .secListContainer .sec01 .secBox .txtBox,
#access .secListContainer .sec02 .secBox .txtBox {
    width: 42%;
  }
}
#access .secListContainer .sec03 .txt {
  margin: 0 0 60px;
}
#access .secListContainer .sec03 .pdfList ul li {
  padding: 0 10px 10px;
  text-align: center;
  border-bottom: 1px solid #c6cbd5;
}
#access .secListContainer .sec03 .pdfList ul li a {
  display: inline-block;
  padding: 0 25px 0 0;
  background: url("../image/common/icon_target_blank.png") right center no-repeat;
  background-size: 15px auto;
}
@media (min-width: 1025px) {
  #access .secListContainer .sec03 .pdfList ul {
    display: flex;
    justify-content: space-between;
  }
  #access .secListContainer .sec03 .pdfList ul li {
    width: calc(33.3333333333% - 30px);
  }
}
#access .secListContainer .sec04 .txt {
  margin: 0 0 40px;
}
#access .secListContainer .sec04 .parking {
  max-width: 780px;
  margin: 0 auto;
}

/*////////////////////////////////////////////////////////////
	saisei
///////////////////////////////////////////////////////////*/
#saisei .pageKvPanel {
  background: url(../image/saisei/saisei_kv.png) center no-repeat;
  background-size: cover;
}
#saisei .topTxt {
  margin: 0 0 100px;
}
#saisei .topTxt p + p {
  margin: 30px 0 0;
}
#saisei .sec01 .innerSection + .innerSection {
  margin: 60px 0 0;
}
#saisei .sec01 .innerSection .secTtl {
  position: relative;
  margin: 0 0 30px;
  font-size: 26px;
}
#saisei .sec01 .innerSection .secTtl::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto 0;
  background: #113b7a;
}
#saisei .sec01 .innerSection .secTtl h3 {
  position: relative;
  display: inline-block;
  padding: 0 60px 0 0;
  background: #ffffff;
}
#saisei .sec01 .innerSection .txt {
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #d3d6df;
}
#saisei .sec01 .innerSection .txt a {
  display: inline-block;
  text-decoration: underline;
}