body {
  opacity: 0;
}

@media (max-width: 1360px) {
  .header .navBox {
    top: -100%;
    opacity: 0;
  }

  .header .navBox.active {
    top: 63px;
    opacity: 1;
    z-index: 999;
  }
}
