@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 14px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    z-index: 999;
    background: #ffffff;
  }
  .header .logo {
    position: relative;
    z-index: 9999;
    width: 50px;
  }
  .header .logo a {
    display: block;
  }
  .header .hamburger {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 40px;
    z-index: 10000;
  }
  .header .hamburger .span {
    background: #3697dc;
    position: absolute;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    transition: 0.4s;
  }
  .header .hamburger .span:nth-of-type(1) {
    top: 10px;
  }
  .header .hamburger .span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header .hamburger .span:nth-of-type(3) {
    bottom: 10px;
  }
  .header .hamburger.is-open .span:nth-of-type(1) {
    transform: translate(-50%, 9px) rotate(-45deg);
  }
  .header .hamburger.is-open .span:nth-of-type(2) {
    opacity: 0;
  }
  .header .hamburger.is-open .span:nth-of-type(3) {
    transform: translate(-50%, -9px) rotate(45deg);
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
  .navBox {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 80px;
    text-align: center;
    z-index: 999;
    background: #ffffff;
    transition: 0.6s;
    overflow: auto;
  }
  .navBox.active {
    top: 60px;
  }
  .navBox .navList .ul .li {
    padding: 5px 0;
  }
  .navBox .navList .ul .li a {
    font-size: 15px;
  }
  .navBox .navList .ul .li p {
    padding: 5px 0;
    font-size: 15px;
  }
  .navBox .navList .ul a {
    display: block;
    padding: 5px 0;
  }
  .navBox .navList > .ul {
    border-top: 1px solid #373737;
  }
  .navBox .navList > .ul > .li {
    border-bottom: 1px solid #373737;
  }
  .navBox .navItem {
    padding: 20px 0 0;
  }
  .navBox .navItem .reserve {
    width: 150px;
    margin: 10px auto 0;
  }
  .navBox .navItem .reserve a {
    display: block;
    padding: 4px;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    background: #3697dc;
  }
  .navBox .navItem .reserve a p {
    display: inline-block;
    padding: 0 0 0 20px;
    font-size: 13px;
    background: url(https://lilulea230823.smooooth.jp/system_panel/uploads/images/header_mail.png) left center no-repeat;
    background-size: 15px auto;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .main {
    margin: 60px 0 0;
  }

  .pageKvContainer {
    padding: 0 30px;
  }
  .pageKvContainer .pageKvPanel {
    height: 250px;
  }
  .pageKvContainer .pageKvTitle {
    width: 250px;
    padding: 20px;
  }
  .pageKvContainer .pageKvTitle h1 {
    font-size: 20px;
  }

  .pageSecTitle {
    margin: 0 0 30px;
  }
  .pageSecTitle p {
    font-size: 16px;
  }
  .pageSecTitle .secTitle {
    font-size: 20px;
  }

  .mainContainer {
    padding: 0 30px;
  }

  .mapBox {
    padding: 0 0 70%;
  }

  .btnMail {
    width: 240px;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer .footWrap {
    padding: 0 30px;
  }
  .footer .footContact {
    padding: 30px 20px;
  }
  .footer .footContact::before {
    height: 100%;
  }
  .footer .footContact .secTtl {
    margin: 0 0 20px;
  }
  .footer .footContact .secTtl p {
    font-size: 11px;
  }
  .footer .footContact .secTtl h2 {
    font-size: 18px;
  }
  .footer .footContact .contactList .contactBox + .contactBox {
    margin: 20px 0 0;
  }
  .footer .footContact .contactList .contactBox .ttl {
    margin: 0 0 15px;
  }
  .footer .footContact .contactList .contactBox .tel a {
    font-size: 30px;
  }
  .footer .footPanel {
    margin: 60px 0 0;
    padding: 60px 20px 20px;
  }
  .footer .footPanel .pagetop {
    position: absolute;
    top: -15px;
    right: 30px;
    width: 50px;
  }
}